{% extends "userportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Personal Information</h4>
		</div>
	</div>

	<div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title col-md-2" style="border-bottom: 5px solid #0F9B93;">Contact Us</h4>
                </div>
                <div class="card-body">
                    <form class="form"  method="post">
                        {{ form.hidden_tag() }}

                        <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                            <div class="form-group">
                                <label for="donationinput1 " class="sr-only"> Name</label>
                                {{ form.name(class="form-control",placeholder="Name") }}
                            </div>
                            
                            <div class="form-group">
                                <label for="donationinput3" class="sr-only">E-mail</label>
                                {{ form.email(class="form-control",placeholder="Email") }}
                            </div>

                            <div class="form-group">
                                <label for="donationinput4" class="sr-only">Text</label>
                                {{ form.text(class="form-control",placeholder="Text") }}
                            </div>
{{form.hidden}}
                       <div class="form-actions center">
                            {{ form.submit(value="Send") }}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--/ Statistics -->




<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title col-md-2" style="border-bottom: 5px solid #0F9B93;">Feedback</h4>
            </div>
            <div class="card-body">
                <form class="form"  method="post">
                    {{ form.hidden_tag() }}

                    <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                        <div class="form-group">
                            <label for="donationinput1 " class="sr-only"> Name</label>
                            {{ form.name(class="form-control",placeholder="Name") }}
                        </div>
                        
                        <div class="form-group">
                            <label for="donationinput3" class="sr-only">E-mail</label>
                            {{ form.email(class="form-control",placeholder="Email") }}
                        </div>

                        <div class="form-group">
                            <label for="donationinput4" class="sr-only">Text</label>
                            {{ form.text(class="form-control",placeholder="Text") }}
                        </div>
                    {{form.hidden_feedback}}
                   <div class="form-actions center">
                       <button type="submit" class="btn btn-primary">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
