{% extends "userportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Dashboard</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="card text-left" style="background-image: url('/static/images/lightbulb.png');background-size: 100%;height: 200px;">

				<div class=" card-body" > 
                    <div class="col-sm-6">
					<h5 class="card-title" style="font-size:1.7rem;color:white">Welcome to No Name</h5>
					<p class="card-text" style="font-size:18px;color:white"><b>{{user.name}}</b></p>
</div>
                  
                </div>
				
			

           
        </div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="card" style="padding-top:30px;">
				<h2 class="text-center" style="color:green">Available Sessions</h2>
				<div class="card-content">
					<div class="card-body text-left">
                        {% if user.rem_sessions > 0 %}
              <p>Therapist:<b> {{therapist.name}}</b></p>
              <p> Sessions Remaining :<span> {{user.rem_sessions}} </span></p>
              {%else%}
              <p> No Available Sessions</p>
              {% endif%}
					</div>

                

				</div>
            </div>

              


			</div>
		</div>
	</div>

</section>
<!--/ eCommerce statistic -->

<!-- Statistics -->
<div class="row match-height">
    <div class="col-xl-6 col-lg-12">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4CAF50">
                    <h4 class="card-title" id="heading-multiple-thumbnails" style="color:white;">Write your Thoughts and let your emotions go free</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                   
                </div>
                <div class="card-content" style="background-color:#4CAF50">
                    <div class="card-body">
                        <div class="img">
                            <img src="/static/images/journal.png" class="d-block w-100" alt="First slide">
                        </div>
                                             
                            <a href="#" class="btn btn-primary" style="color:green;background-color:white">Go to mood Journal</a>

                    </div>
                </div>
            </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title" id="heading-multiple-thumbnails" style="color:green;">Something on your mind? Ask questions in discussion forum</h4>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
               
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="img">
                        <img  src="/static/images/df.png" class="d-block w-100" alt="First slide">
                    </div>
                                       
                        <a href="#" class="btn btn-primary" style="color:white;background-color:green">Go to Discussion Forum</a>

                </div>
            </div>
        </div>
</div>



            <div class="col-lg-4 col-md-12" style="margin-left:auto;margin-right:auto;">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">Please leave a comment or suggestion</h4>
                        <div>
                        <a href="#" class="btn btn-primary" style="background-color: #0F9B93">Go somewhere</a>
                        </div>
                    </div>
                    
            </div>


            
        </div>
    </div>
</div>
<!--/ Statistics -->
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
