{% extends "userportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Journal</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="card text-center">

				<div class="card-body">
					<h5 class="card-title">Let your emotions go free</h5>
                    <a href="{{ url_for('userportal.addujournal')}}" class="btn btn-primary">Add to Journal</a>
				</div>
				
			</div>
		</div>
		
	</div>


    <div class="row match-height">
		<div class="col-xl-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-content">
					<div class="card-body">
						<h4 class="card-title">My Journals</h4>
					</div>
					<ul class="list-group list-group-flush">
                        {% for journal in journals%}
						<li class="list-group-item">
						<a href="{{url_for('therapistportal.journaldetails',id = journal.id)}}">	{{journal.title}} </a>
                           <span style="float: right;"> {{journal.date.strftime("%m %b %Y")}}</span>
						</li>
                        {% endfor %}
						
					</ul>
					
				</div>
			</div>
		</div>


</section>
<!--/ eCommerce statistic -->

<!-- Statistics -->

<!--/ Statistics -->
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
