{% extends "userportal/base.html" %}
{% block content %}
<div class="row ">
    <div class="col-xl-9 col-lg-12" style="margin-top: 100px;">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="heading-multiple-thumbnails">{{journal.title}}</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                       <span>{{journal.date.strftime("%m %b %Y")}}</span>
                       <button><a href="{{url_for('userportal.editjournal',id=journal.id)}}">Edit</a></button>
                       <button>Delete</button>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">{{journal.text}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

    {% endblock %}