{% extends "userportal/base.html" %}
{% block content %}
<div class="row col-lg-12" style="margin-top:150px;">
    <div class="col-lg-9">
        <iframe  src="{{meeting_link}}" width="100%" height="800px;"></iframe>
    </div>
    <div class="col-lg-3">
        <div class="card-body">
            <form  id="note">
                {{ form.hidden_tag() }}

                <div class="form-body" >
                    <div class="form-group">
                        <label for="donationinput1 " class="sr-only"> Notes</label>
                        {{ form.text(class="form-control",placeholder="Write notes",rows="35" ,id="note-content") }}
                    </div>
                    
                
                        
                    <div class="form-actions center">
                        <button type="submit" value="Save Pr">Send</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript"> 
    $(document).ready(function() {
        $("#note").submit(function(e) {
            console.log("hjs")
            e.preventDefault();
            var noteContent = $("#note-content").val();
            var appointment_id = "{{appointment_id}}";
            console.log(noteContent);
            console.log(appointment_id);
            // Send a POST request to the Flask server with the note's content
            $.ajax({
                type: "POST",
                url: "/save_usernote",
                data: JSON.stringify({ "content": noteContent,"appointment_id":appointment_id }),
                contentType: "application/json",
                success: function(data) {
                    alert("Note saved!");
                    // Clear the note form
                   // $("#note-content").val("");
                },
                error: function(error) {
                    alert("Error saving note!");
                }
            });
        });
    });
</script>    
{% endblock %}