{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div align='center'>
    <h1 >Welcome to the page for {{current_user.username}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <p>{{ current_user.title }}</p>
  </div>
</div>
<div class="container">
  <form  method="POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label(class="form-group") }}
      {{form.title(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.subtitle.label(class="form-group") }}
      {{form.subtitle(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.text.label(class="form-group") }}
      {{form.text(class='form-control')  }}
    </div>
    
    <div class="form-group">
      {{ form.location.label(class="form-group") }}
      {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-group") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.contact_subtitle.label(class="form-group") }}
      {{ form.contact_subtitle(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.feature_subtitle.label(class="form-group") }}
      {{form.feature_subtitle(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.feature_paragraph.label(class="form-group") }}
      {{form.feature_paragraph(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.number.label(class="form-group") }}
      {{ form.number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>

</div>

{% endblock content %}



<section class="ud-hero" id="home" style="background-image: url('/static/images/headerimg.jpeg'); background-size: 90%;margin-top: -80px;margin-bottom: -80px; height: 600px;">
  <div class="container">
    <div class="row" style="margin-top: -100px;">
      <div class="col-lg-12" style="margin-left: -60px;margin-top: 50px;">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s" style="float:left; padding-left:-50px;">
          <h1 class="ud-hero-title" style="color: olivedrab;">
            {{ about.title }}
          </h1>
          <p class="ud-hero-desc" style="color: olivedrab;font-weight:600">
{{about.subtitle}}            </p>
          <ul class="ud-hero-buttons">
           <!----<li>
              <a href="https://links.uideck.com/play-bootstrap-download" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-white-btn">
                Download Now
              </a>
            </li>-->
            <li>
              <a href="" rel="nofollow noopener" style="background-color: olivedrab;" class="ud-main-btn ud-link-btn">
                Send Package <i class="lni lni-arrow-right"></i>
              </a>
             
              
            </li>
          </ul>
        </div>
       
        </div>
      </div>
    </div>
  </div>
</section>