{% extends "mainbase.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/how-it-works.css') }}">

<div class="how-it-works">
      <button class="frame-button7">
        <div class="get-started-div4">Get Started</div></button
      ><b class="the-most-simple-convenient-w1"
        >The most simple & convenient way to access talk therapy - anytime,
        anywhere, any device.</b
      ><b class="how-it-works1">HOW IT WORKS</b>
      <div class="group-div15" id="howitworks">
        <div class="plan-div6">
          <div class="frame-div23">
            <div class="choose-the-right-plan-for-you">
              Choose the right plan for you
            </div>
            <div class="start-therapy-sessions-by-agre">
              Decide on the number of sessions you would like to opt for.
            </div>
            <img
              class="dashiconsmoney-alt"
              alt=""
              src="public/dashiconsmoneyalt.svg"
            />
          </div>
        </div>
        <div class="plan-div7">
          <div class="frame-div23">
            <div class="choose-the-right-plan-for-you">
              Choose the therapist of your choice
            </div>
            <div class="start-therapy-sessions-by-agre">
              Choose the therapist of your choice. The therapist will get in
              touch within 24 to 48 hours.
            </div>
            <img
              class="dashiconsmoney-alt"
              alt=""
              src="public/healthiconsman.svg"
            />
          </div>
        </div>
        <div class="plan-div8">
          <div class="frame-div23">
            <div class="choose-the-right-plan-for-you">Start Session</div>
            <div class="start-therapy-sessions-by-agre">
              Start therapy sessions by agreeing on a schedule with your
              therapist.
            </div>
            <img class="group-icon4" alt="" src="public/group.svg" />
          </div>
        </div>
      </div>
      
    </div>
{% endblock%}