{% extends "mainnav.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our company</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {% for data in faq %}


    <li>{{data.id}}</li>
    <li>{{data.question}}</li>
    {% endfor %}
  </div>

{% for therapist in therapists%}

  <div class="div" id="therapists">


    <div class="div"><div class="rectangle-div3"></div></div>
   
    <div class="specialization-anxiety-depres">
      <p class="choose-a-therapist">
        <b class="specialization-b">{{therapist.title }}</b><span> </span><br>

        <b class="specialization-b">Specialization</b><span> </span>
      </p>
      <p class="of-your-choice">
        <span
          >Anxiety, Depression, Stress, Relationship Issues, Couple
          Counseling , Grief & Loss, Suicidal Ideation, Sleep Issues,
          Trauma, Narcissistic Abuse, Family Therapy, Body Image,
          Psycho-Somatic Disorders, LGBTQI</span
        >
      </p>
    </div>

  
    <img class="ellipse-icon" alt="" src="public/ellipse-73@2x.png" />
  <div class="div17">
    <button class="group-button">
      <div class="fram " style=" 
      position: absolute;
      border-radius: 15px;
      background-color: #0f9b93;
      height: 63px;
      display: flex;
      flex-direction: row;
      padding: 14px 42px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;">
        <div class="book-now-div">Book Now</div>
      </div></button
    >
  </div>
  </div>
 </div>

 {% endfor %}
 </div>

 <div class="container"  style=" position: absolute;
 top: 4987px;
 left: 189px;
 width: 1350px;
 height: 561px;
 font-size: 24px;
 color: #878787;" id="therapists">


        <div class="div" tyle="position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(76, 175, 80, 0.05);
        width: 1727px;
        height: 273px;">
        
        <!--<div class="rect" style="  width: 184px;
              height: 184px;
              position: absolute;
              width: 184px;
              height: 400px;
              object-fit: cover;
              object-fit: cover;position: absolute;" >-->
        

                          <div class="card" style=" position: absolute; line-height: 125%;
                          display: inline-block;
                          width: 438px;
                          height: 501px;
                          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);">
                          <img class="thumbnail"  src="{{ url_for('static',filename='public/ellipse-73@2x.png') }}" style=" position: absolute;
                          width: 184px;
                          height: 184px;
                          object-fit: cover;"/> 
<div style=" position: absolute;
top: 267px;
left: 61px;
line-height: 125%;
display: inline-block;
width: 338px;
height: 271px;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);">
                              <p class="choose-" style="margin-block-start:0;
                            margin-block-end: 0;">
                              <b style="  font-family: Poppins;
                              ">ghjk</b><br>

                              <b class="span">Specialization</b>
                            </p>
                            <p class="of-your-choice" style="margin:0;
                            ">
                              <span
                                >Anxiety, Depression, Stress, Relationship Issues, Couple
                                Counseling , Grief & Loss, Suicidal Ideation, Sleep Issues,
                                Trauma, Narcissistic Abuse, Family Therapy, Body Image,
                                Psycho-Somatic Disorders, LGBTQI</span
                              >
                            </p>
                          </div>

                    <div style=" position: relative;
                    height: 63px;padding-top:
                    470px; padding-left:120px;">
                          <button class="button" style=" position: absolute;
                          height: 63px;
                          border-radius: 15px;
                          background-color: #0f9b93;
                          display: flex;
                          flex-direction: row;
                          padding: 14px 42px;
                          box-sizing: border-box;
                          align-items: center;
                          justify-content: center;">
                       
                              <div class=""   position: relative;
                              font-size: 14px;
                              line-height: 120%;
                              font-family: Poppins;
                              color: #fff;
                              text-align: center;
                              display: inline-block;>Book Now</div>
                            </button
                          >
                    </div>
</div>
{% endblock %}
