{% extends "mainnav.html" %}
{% block content %}
  <body>
    <div class="payment-details-drop-down">
      <b class="find-a-plan-thats-right-for-yo4"
        ><span>Find A </span
        ><span class="plan-thats-right4">Plan Thats Right</span
        ><span> For You</span></b
      >
      <div class="line-div4"></div>
      <div class="cancel-anytime-change-your-th4">
        Cancel anytime. Change your therapist anytime..
      </div>
      <div class="sessions-do-not-expire-and-hav4">
        Sessions do not expire and have lifetime validity. Once bought you can
        schedule it at your convenience. You can contact us via email if you
        couldn’t find the plan you are looking for and we will help you out.
      </div>
      <div class="frame-div43">
        <div class="frame-div44">
          <img
            class="phbrain-fill-icon14"
            alt=""
            src="public/phbrainfill14.svg"
          /><b class="no-name-b14">NO NAME</b>
        </div>
        <div class="frame-div45">
          <div class="no-name-b14">Home</div>
          <div class="no-name-b14">About</div>
          <div class="no-name-b14">Services</div>
          <div class="no-name-b14">Our Therapists</div>
          <div class="no-name-b14">FAQs</div>
          <div class="no-name-b14">Contact</div>
        </div>
        <div class="frame-div46">
          <div class="login-div7">Login</div>
          <button class="frame-button10">
            <div class="get-started-div9">Get Started</div>
          </button>
        </div>
      </div>
      <div class="group-div29">
        <div class="frame-div47">
          <img
            class="phbrain-fill-icon14"
            alt=""
            src="public/phbrainfill15.svg"
          /><b class="no-name-b14">NO NAME</b>
        </div>
        <img class="rectangle-icon7" alt="" src="public/rectangle-42.svg" /><img
          class="group-icon9"
          alt=""
          src="public/group-657.svg"
        />
        <div class="legal-div7">Legal</div>
        <div class="disclaimer-div7">Disclaimer</div>
        <div class="privacy-policy-div7">Privacy Policy</div>
        <div class="terms-of-service7">Terms Of Service</div>
        <div class="group-div30">
          <div class="quick-links-div7">Quick Links</div>
          <div class="for-corporates-div8">For Corporates</div>
          <div class="for-therapists-div7">For Therapists</div>
          <div class="contact-div16">Contact</div>
          <div class="about-us-div7">About Us</div>
        </div>
        <div class="copyright-all-rights-reserved7">
          CopyRight All Rights Reserved
        </div>
      </div>
      <div class="group-div31">
        <div class="group-div32">
          <div class="rectangle-div4"></div>
          <div class="button-div2"><b class="click-here-b1">Next</b></div>
          <button class="payment-details-button">Payment Details</button
          ><img
            class="evaclose-fill-icon2"
            alt=""
            src="public/evaclosefill2.svg"
          />
          <div class="inputdefault-div1">
            <div class="field-label-div2">
              <div class="field-label-base2">
                <div class="label-div6">
                  <div class="card-div">Choose payment method *</div>
                  <img class="icon3" alt="" src="public/icon3.svg" />
                </div>
                <div class="label-div8">Optional</div>
              </div>
            </div>
            <div class="field-div">
              <div class="field-master-div">
                <div class="card-div">Card</div>
                <img class="icon4" alt="" src="public/icon4.svg" /><img
                  class="icon4"
                  alt=""
                  src="public/icon5.svg"
                />
              </div>
            </div>
            <div class="field-caption-div1">
              <img class="icon6" alt="" src="public/icon1.svg" />
              <div class="card-div">Info</div>
            </div>
          </div>
          <img
            class="bicaret-down-fill-icon1"
            alt=""
            src="public/bicaretdownfill.svg"
          />
          <div class="inputdefault-div2">
            <div class="field-label-div2">
              <div class="field-label-base2">
                <div class="label-div6">
                  <div class="card-div">Card Number</div>
                  <img class="icon3" alt="" src="public/icon3.svg" />
                </div>
                <div class="label-div8">Optional</div>
              </div>
            </div>
            <div class="field-div1">
              <input class="field-master-input" type="text" />
            </div>
          </div>
          <div class="inputdefault-div3">
            <div class="field-label-div2">
              <div class="field-label-base2">
                <div class="label-div6">
                  <div class="card-div">CVV</div>
                  <img class="icon3" alt="" src="public/icon3.svg" />
                </div>
                <div class="label-div8">Optional</div>
              </div>
            </div>
            <div class="field-div1">
              <input class="field-master-input" type="text" />
            </div>
          </div>
          <div class="inputdefault-div4">
            <div class="field-label-div2">
              <div class="field-label-base2">
                <div class="label-div6">
                  <div class="card-div">Card Number</div>
                  <img class="icon3" alt="" src="public/icon3.svg" />
                </div>
                <div class="label-div8">Optional</div>
              </div>
            </div>
            <div class="field-div">
              <div class="field-master-div">
                <img class="icon4" alt="" src="public/icon4.svg" /><img
                  class="icon4"
                  alt=""
                  src="public/icon5.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <input class="rectangle-input" type="text" />
        <div class="mobile-money-wallet">Mobile Money Wallet</div>
      </div>
    </div>
  </body>
</html>
{% endblock %}