{% extends "mainbase.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/services.css') }}">
<div class="services-div">
     
<p class="the-most-simple-convenient-w">
        The most simple & convenient way to access talk therapy - anytime,
        anywhere, any device.
      </p>
      <h1 class="services-h1">SERVICES</h1>
      <button class="frame-button2">
        <div class="get-started-div">Get Started</div>
      </button>
      <div class="group-div" id="services">
        <div class="plan-div">
          <div class="frame-div3" style="background-image: {{ url_for('static',filename='public/group-5.svg') }}">
            <div class="individual-therapy">INDIVIDUAL THERAPY</div>
            <div class="we-offer-excellent-choice-for">
              We offer excellent choice for individual counseling.
            </div>
          </div>
        </div>
        <div class="plan-div1">
          <div class="frame-div3">
            <button class="couple-therapy-button">COUPLE THERAPY</button>
            <div class="we-offer-excellent-choice-for1">
              We offer excellent choice for individual counseling.
            </div>
          </div>
        </div>
        <div class="plan-div2">
          <div class="frame-div3">
            <div class="individual-therapy">POST AND PERINATAL</div>
            <div class="we-offer-excellent-choice-for">
              Decide on the number of sessions you would like to opt for.
            </div>
          </div>
        </div>
        <div class="plan-div3">
          <div class="frame-div3">
            <div class="individual-therapy">FOR TEENS /ADOLESCENT</div>
            <div class="we-offer-excellent-choice-for">
              Decide on the number of sessions you would like to opt for.
            </div>
          </div>
        </div>
        <div class="plan-div4">
          <div class="frame-div3">
            <div class="individual-therapy">FAMILY SESSION</div>
            <div class="we-offer-excellent-choice-for">
              Decide on the number of sessions you would like to opt for.
            </div>
          </div>
        </div>
        <div class="plan-div5">
          <div class="frame-div3">
            <div class="individual-therapy">FOR CORPORATES</div>
            <div class="we-offer-excellent-choice-for">
              Decide on the number of sessions you would like to opt for.
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
{% endblock %}
