<!-- Use the Bootstrap navbar component to display the site title and navigation links -->
{% extends "userportal/base.html" %}
{% block content %}
<style>

  .chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}
</style>


<div class="row match-height">
    <div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="heading-multiple-thumbnails">Discussions</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                  
                </div>
                <div class="card-content">
                    <div class="card-body">
                      <ul>
                        {% for thread in threads %}
                      <li>
                        <div class="row col-md-12">
                              <div class="col-md-3">{{ thread.title }}</div>
                              <div class="col-md-3" style="float: right">{{thread.user.name}}</div>
                     
                       </div>
                    </li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                </div>
        </div>
    
    <div class="col-xl-8 col-lg-8">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title">Recent products</h4>
                    <h6 class="card-subtitle text-muted">Carousel Card With Header & Footer</h6>
                </div>
                <div class="card-body text-left">
                  <div class="chat-history">
                    <ul class="m-b-0">
					{% for  post in posts %}
                    {% if post.user_id == user.id%}
                    <li style="float: right;padding-bottom: 10px;"> {{post.content}} </li>
                    <li class="clearfix"  style="padding-bottom: 10px;">
                      <div class="message-data text-right">
                          <span class="message-data-time">10:10 AM, Today</span>
                      </div>
                      <div class="message other-message float-right">{{post.content}}  </div>
                  </li>   <br>
                    {% else %}
                    <li style="float: left; "> {{post.content}} </li>
                    <li class="clearfix" >
                      <div class="message-data text-right">
                          <span class="message-data-time">10:10 AM, Today</span>
                      </div>
                      <div class="message other-message float-right"> {{post.content}}  </div>
                  </li>    
                    <br>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                <form action="{{ url_for('userportal.view_thread', thread_id=thread.id) }}" method="post" class="float-left">
                  
                    <div class="form-group">
                      <label for="content">Content</label>
                      <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                <span class="tags float-right">
                    <span class="badge badge-pill badge-primary">Branding</span>
                    <span class="badge badge-pill badge-danger">Design</span>
                </span>
            </div>
        </div>
    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>







<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Discussion Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Thread</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Use the Bootstrap container and row components to create a grid layout -->
  <div class="container mt-4">
    <div class="row">
      <!-- Loop over the threads and display a card for each one -->
      {% for thread in threads %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ thread.title }}</h5>
            <p class="card-text">by {{ thread.user.username }}</p>
            <a href="{{ url_for('userportal.view_thread', thread_id=thread.id) }}" class="btn btn-primary">View Thread</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>









  {% endblock %}