


      {% extends "mainnav.html" %}
      {% block content %}
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/vendors.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/charts/chartist.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/app-lite.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='webassets/css/font-awesome.min.css') }}">

      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/core/menu/menu-types/vertical-menu.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/core/colors/palette-gradient.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/pages/dashboard-ecommerce.css') }}">      
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

        <body>
          <section id="pricing" class="ud-pricing">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="ud-section-title mx-auto text-center">
                    <span></span>
                    <div class="col-xl-12 col-md-12">
                        <div class="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title col-md-3" style="border-bottom: 5px solid #0F9B93; margin-right: auto;margin-left: auto; font-size:40px;"><b>Log In</b></h4>
                                    <p>Don't have an account?<a href="{{url_for('users.register')}}"> Sign Up</a></p>
                                </div>
                                <div class="card-body">
                                    <form class="form" method="post">
                                        {{ form.hidden_tag() }}
                
                                        <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                                           
                                            <div class="form-group">
                                                <label for="donationinput3" class="sr-only">E-mail</label>
                                                {{ form.email(class="form-control",placeholder="Email") }}
                                            </div>
                
                                            <div class="form-group">
                                                <label for="donationinput4" class="sr-only">Password</label>
                                                {{ form.password(class="form-control",placeholder="Password") }}
                                                <span style="float:left;color:#0F9B93;font-size:12px;">forgot password?</span>
                                            </div>
                                        
                                         
                                        </div>
                                        <div class="form-actions center">
                                            <button type="submit" class="btn btn-outline-primary" style="color:white;background-color:#0F9B93">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          
          
             
      
      
      {% endblock %}