


      {% extends "mainnav.html" %}
      {% block content %}
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/vendors.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/charts/chartist.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/app-lite.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='webassets/css/font-awesome.min.css') }}">

      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/core/menu/menu-types/vertical-menu.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/core/colors/palette-gradient.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='portalassets/theme-assets/css/pages/dashboard-ecommerce.css') }}">      
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

        <body>
          <section id="pricing" class="ud-pricing">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="ud-section-title mx-auto text-center" style="argin-top: -70px;"> 
                    <span></span>
                    <div class="col-xl-12 col-md-12">
                        <div class="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title col-md-3" style="border-bottom: 5px solid #0F9B93; margin-right: auto;margin-left: auto; font-size:40px;"><b>Sign Up</b></h4>
                                    <p>Already have an account? Sign In</p>
                                </div>
                                <div class="card-body">
                                    <form class="form" method="post">
                                        {{ form.hidden_tag() }}
                
                                        <div class="form-body text-left" style="padding-left: 150px;padding-right: 150px;">
                                            <div class="row col-md-12" >
                                                <div class="form-group col-md-6 " style="padding-left: 0px">
                                                    {{ form.name.label(class="form-control-label") }}
                                                    {{ form.name(class="form-control") }}
                                                </div>
                        
                                                <div class="form-group col-md-6" style="padding-right: 0px">
                                                    {{ form.last_name.label(class="form-control-label") }}
                                                    {{ form.last_name(class="form-control") }}
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="donationinput3" >Username</label>
                                                    {{ form.username(class="form-control",placeholder="Username") }}
                                                </div>
                                            <div class="form-group">
                                                <label for="donationinput3" >E-mail</label>
                                                {{ form.email(class="form-control",placeholder="Email") }}
                                            </div>
                                            <div class="form-group">
                                                <label for="donationinput3">Password</label>
                                                {{ form.password(class="form-control",placeholder="Password") }}
                                            </div> 
                                            <div class="form-group">
                                                <label for="donationinput3">Confirm Password</label>
                                                {{ form.pass_confirm(class="form-control",placeholder="Confirm Password") }}
                                            </div> 
                                            <div class="row col-md-12" >
                                                <div class="form-group col-md-6 " style="padding-left: 0px">
                                                    <label for="donationinput3" >Number</label>
                                                {{ form.number(class="form-control",placeholder="Number") }}
                                            </div>
                                            <div class="form-group col-md-6" style="padding-right: 0px">
                                                <label for="donationinput3" >Sign up as a :</label>
                                                {{ form.role(class="form-control",placeholder="Number") }}
                                            </div>
                                            </div>
                                         
                                        </div>
                                        <div class="form-actions center">
                                            <button type="submit" class="btn btn-outline-primary" style="color:white;background-color:#0F9B93">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          
          
             
      
      
      {% endblock %}