<!-- Use the Bootstrap navbar component to display the site title and navigation links -->
{% extends "userportal/base.html" %}
{% block content %}
<style>

  .chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}
</style>


<div class="row match-height">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
          <div class="row col-md-12" style="margin-bottom: 10px;">
            <span class="col-md-6">Discussions </span> <button class="btn btn-outline-info col-md-6">New</button>
          </div>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
          
        </div>
        <div class="card-content">
            <div class="card-body">
              
                {% for thread in threads %}
           
                <div class="row col-md-12" style="margin-bottom: 10px;">
                      <div class="col-md-6"><a href="{{ url_for('userportal.view_thread',thread_id=thread.id)}}">{{thread.title }}</a></div>
                      <div class="col-md-6" style="float: right">{{thread.user.name}}</div>
             
               </div>
         
                {% endfor %}
           
            </div>
        </div>
        </div>
</div>
    <div class="col-xl-8 col-lg-8">
        <div class="card">
            <div class="card-content" style="background-color:#4CAF50;">
              <div class="chat" style="color:white;">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                          
                            <div class="chat-about" >
                                <h6 style="color:white;" class="m-b-0">{{thread.title}}</h6>
                                <p style="color:white;"> {{mainpost.content}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                          <small style="color:white;">{{thread.date}}</small>
                          {%if thread.anonymous %}
                          <p style="color:white;">anon</p>
                            {%else %}
                          <p style="color:white;">  {{thread.user.name}}</p>
                          {%endif %}
                          <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history" >
                    <ul class="m-b-0">
                      {% for post in posts %}
                      {% if post.main == 'no' and post.user_id == user.id %}
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time" style="color:white;">{{post.date}}</span><span> by {{post.user.name}} </span>
                            </div>
                            <div class="message other-message float-right">{{post.content}} </div>
                        </li>
                        {%elif post.main == 'no' and post.user_id != user.id %}
                        <li class="clearfix">
                          <div class="message-data">
                              <span class="message-data-time" style="color:white;">{{post.date}}  </span><span> by {{post.user.name}} </span>
                          </div>
                          <div class="message my-message">{{post.content}}</div>                                    
                      </li>   
                        {%endif%}
                        {% endfor %}
                      
                    </ul>
                    {% if postlength < 2 %}
                    No Replies
                      {% endif%}
                </div>
         
        
                <div class="chat-message clearfix">
                  <form action="{{ url_for('userportal.view_thread', thread_id=thread.id) }}" method="post" class="float-left col-md-12">
                  
                    <div class="input-group mb-0">
                      <div class="input-group-prepend col-md-10">
                      <textarea class="form-control" id="content" name="content" rows="3" class="input-group-text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  </form>
                   
                </div>
            </div>
        </div>
    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>







<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(function() {
        console.log('gsg');
        $('#my-form').submit(function(e) {
          e.preventDefault();
          const message = $('input[name=message]').val();
          $.ajax({
            type: 'POST',
            url: '/send_message',
            data: { message: message }
          }).done(function(response) {
            $('#messages').append(`<p>${response.message}</p>`);
          });
        });
      });
      
    

    </script>









  {% endblock %}