<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='auth/layouts/css/bootstrap.min.css') }}">
    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='auth/layouts/css/materialdesignicons.min.css') }}">
    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='auth/layouts/css/style.css') }}">

</head>

<body>

    <!-- START Auth -->
    <section class="authentication-box vh-100">
        <div class="bg-overlay"></div>
        <div class="container-fluid p-0">
            <div class="row g-0 align-items-center">
                <div class="col-lg-3">
                    <div class="bg-white vh-100">
                        <div class="row g-0 justify-content-center d-flex vh-100 align-items-center">
                            <div class="col-lg-11">
                               <div class="authen-box">
                                <div class="text-center pb-4 mb-2">
                                    <img src="images/logo-dark.png" alt="" height="24">
                                </div>
                                <div class="auth-contents">
                                    <div class="text-center">
                                        <h4 class="fw-normal">Welcome to <span class="fw-bold">OH GHANA!</span></h4>
                                        <p class="text-muted">Sign in to continue to OH GHANA.</p>
                                        {% if session['loginmsg'] %}
                                        <div class="alert alert-primary" role="alert">
                                            {{session['loginmsg']}}
                                          </div>
                                        {% endif %}
                                    </div>
                                    <form class="custom-form mt-4 pt-2" method="post">
                                        {{form.hidden_tag()}}
                                        <div class="mb-3">
                                            <label class="form-label fw-bold f-15">Email address</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                placeholder="Enter email">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label fw-bold f-15">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                placeholder="Enter password">
                                        </div>
                                       
                                        <div class="mt-4">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customControlInline">
                                                <label class="custom-control-label f-14 text-muted fw-bold"
                                                    for="customControlInline">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-success shadow-none w-100 rounded-pill" type="submit">Log In</button>
                                        </div>
                                        <hr>
                                        <div class="mt-3 text-center">
                                            <p class="text-muted mb-0">Don't have an account ? <a href="{{url_for('users.register')}}"
                                                    class="fw-bold text-success"> Signup now </a> </p>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
                <div class="col-lg-9">
                    <div class="row g-0 justify-content-center  auth-carousel">
                        <div class="col-lg-7">
                            <div class="d-none d-lg-inline-block">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="testi-contain text-white">
                                                
                                                <p class="mt-4 pt-2 lh-lg f-20">“"Corruption is like a sneaky thief that steals from a community. It happens when things are hidden and not clear. To stop this, we need to shine a light on what's going on, be honest, and work together for the good of all."”</p>
                                                    <div class="d-flex mt-4 align-items-center">
                                                        <div class="testi-img">
                                                            <img src="images/users/avatar-1.jpg"
                                                                class="me-3 img-fluid avatar-md img-thumbnail rounded-circle" alt="...">
                                                        </div>
                                                        <div class="flex-1 ms-2">
                                                            <h5 class="mt-0 mb-0 f-19">Michael E. Johnson</h5>
                                                            <p class="mb-0 f-15"><i class="mdi mdi-circle text-success f-12 me-2"></i>Web
                                                                Designer</p>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="carousel-item">
                                            <div class="testi-contain text-white">
                                                
                                                <p class="mt-4 pt-2 lh-lg f-20">“Living in a good community means we all have a say in the decisions that affect us. It's like everyone getting a vote on what game to play. This way, we make sure everyone's ideas count..”</p>
                                                <div class="d-flex mt-4 align-items-center">
                                                    <div class="testi-img">
                                                        <img src="images/users/avatar-2.jpg"
                                                            class="me-3 img-fluid avatar-md img-thumbnail rounded-circle" alt="...">
                                                    </div>
                                                    <div class="flex-1 ms-2">
                                                        <h5 class="mt-0 mb-0 f-19"></h5>
                                                        <p class="mb-0 f-15"><i class="mdi mdi-circle text-success f-12 me-2"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="carousel-item">
                                            <div class="testi-contain text-white">
                                                <p class="mt-4 pt-2 lh-lg f-20">“Making sure politicians do what they promised is not just something we should do,
                                                     it's like having a guard for our democracy. It means leaders must stick to what they said during elections, and this turns their words into real actions that benefit everyone, not just a few.”</p>
                                                <div class="d-flex mt-4 align-items-center">
                                                    <div class="testi-img">
                                                        <img src="images/users/avatar-3.jpg"
                                                            class="me-3 avatar-md img-fluid img-thumbnail rounded-circle" alt="...">
                                                    </div>
                                                    <div class="flex-1 ms-2">
                                                        <h5 class="mt-0 mb-0 f-19"></h5>
                                                        <p class="mb-0 f-15"><i class="mdi mdi-circle text-success f-12 me-2"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </section>
    <!-- END Auth -->

    <!-- bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static',filename='auth/layouts/js/bootstrap.bundle.min.js') }}"></script>

    <!-- CUSTOM JS -->
    <script src="js/app.js"></script>
    <script src="{{ url_for('static',filename='auth/layouts/js/app.js') }}"></script>

</body>

</html>