body {
  margin: 0;
  line-height: normal;
}
.footframe-div10 {
  position: absolute;
  top: 1516px;
  left: 1320px;
  width: 95px;
  height: 124px;
  overflow: hidden;
}
.footphbrain-fill-icon2 {
  top:-20px;
  position: relative;
  width: 88px;
  height: 68px;
  flex-shrink: 0;
  overflow: hidden;
}
.footno-name-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.footframe-div11 {
  position: absolute;
  top: 112.6px;
  left: 213.49px;
  width: 269.97px;
  height: 86.92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.footrectangle-icon1,
.footvector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 563px;
}
.footvector-icon {
  height: 80%;
  width: 41.55%;
  top: 8.82%;
  right: 8.45%;
  bottom: 11.18%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}
.footdashiconsfacebook-alt {
  text-decoration: none;
  position: absolute;
  top: 1.98px;
  left: 0;
  width: 32.55px;
  height: 33.58px;
  overflow: hidden;
}
.footgroup-icon1 {
  position: absolute;
  height: 76.91%;
  width: 94.61%;
  top: 11.45%;
  right: 1.49%;
  bottom: 11.64%;
  left: 3.9%;
  max-width: 100%;
  max-height: 100%;
}
.footakar-iconstwitter-fill {
  text-decoration: none;
  position: absolute;
  top: 1.98px;
  left: 49.78px;
  width: 32.55px;
  height: 33.58px;
  overflow: hidden;
}
.footgroup-icon2 {
  position: absolute;
  height: 91.67%;
  width: 91.67%;
  top: 4.17%;
  right: 4.17%;
  bottom: 4.17%;
  left: 4.17%;
  max-width: 100%;
  max-height: 100%;
}
.footakar-iconsinstagram-fill {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 99.56px;
  width: 32.55px;
  height: 33.58px;
  overflow: hidden;
}
.footgroup-div3,
.footlegal-div1 {
  position: absolute;
  top: 262.73px;
  left: 201.04px;
  width: 132.11px;
  height: 35.56px;
}
.footlegal-div1 {
  top: 137.29px;
  left: 1317.3px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 62.23px;
  height: 26.67px;
}
.footdisclaimer,
.footprivacy-policy {
  text-decoration: none;
  left: 1317.3px;
  color: inherit;
  width: 113.92px;
  height: 24.69px;
}
.footdisclaimer {
  position: absolute;
  top: 185.69px;
  display: flex;
  align-items: flex-end;
}
.footprivacy-policy {
  top: 232.11px;
}
.footprivacy-policy,
.footquick-links-div1,
.footterms-of-service1 {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.footterms-of-service1 {
  text-decoration: none;
  top: 278.54px;
  left: 1317.3px;
  color: inherit;
  width: 113.92px;
  height: 24.69px;
}
.footquick-links-div1 {
  top: 0;
  left: 17.23px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 123.5px;
  height: 26.67px;
}
.footabout-us,
.footcontact,
.footfor-corporates,
.footfor-therapists {
  text-decoration: none;
  position: absolute;
  top: 43.46px;
  left: 10.53px;
  color: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 113.92px;
  height: 24.69px;
}
.footabout-us,
.footcontact,
.footfor-therapists {
  top: 89.88px;
  left: 6.7px;
}
.footabout-us,
.footcontact {
  top: 136.31px;
  left: 0.96px;
  width: 93.82px;
}
.footabout-us {
  top: 182.73px;
  left: 0;
}
.footgroup-div4 {
  position: absolute;
  top: 137.29px;
  left: 830.foot97px;
  width: 140.73px;
  height: 207.42px;
  text-align: center;
}
.footcopyright-all-rights-reserved1 {
  position: absolute;
  top: 468.18px;
  left: 801.29px;
  display: flex;
  align-items: flex-end;
  width: 199.13px;
  height: 41.48px;
}
.footno-name-h1 {
  margin: 0;
  font-weight: 700;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
.footframe-div12 {
  position: absolute;
  top: 137.29px;
  left: 209.66px;
  width: 269.97px;
  height: 86.92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 40px;
}
.group-footer {
  position: absolute;
  top: 1337px;
  left: 0;
  width: 1728px;
  height: 563px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Poppins;
}
.footno-name-b2 {
  font-size: 30px;
  top:-20px;
  position: relative;
  display: inline-block;
}
.footframe-div14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.footcontact-button,
.footfaqs-button,
.foothome-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 16px;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.footcontact-button,
.footfaqs-button {
  color: #4caf50;
}
.footcontact-button {
  color: #0f1a10;
}
.footframe-header1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.footget-started-button,
.footlogin-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.footget-started-button {
  color: #fff;
}
.footframe-button4 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.footframe-button3,
.footframe-button4,
.footframe-div13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footframe-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  gap: 30px;
}
.footframe-div13 {
  position: absolute;
  top: 65px;
  left: 72px;
  gap: 134px;
}
.footframe-header {
  position: relative;
  top: -40px;
  left: 0;
  background-color: #45ed89;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 1728px;
  height: 168px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #000;
  font-family: Poppins;
}
.footbase-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 6800px;
  overflow: hidden;
}
