body {
  margin: 0;
  line-height: normal;
}
.phbrain-fill-icon2 {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b2 {
  position: relative;
  display: inline-block;
}
.frame-div11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.frame-div11 > * + * {
  margin-left: 6px;
}
.contact-div3 {
  position: relative;
  color: #4caf50;
  display: inline-block;
}
.frame-div12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div12 > * + * {
  margin-left: 80px;
}
.get-started-div2,
.login-div1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.get-started-div2 {
  font-size: 16px;
  font-family: Poppins;
  color: #fff;
  text-align: left;
}
.frame-button3 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button3,
.frame-div13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div13 > * + * {
  margin-left: 30px;
}
.frame-div10 {
  position: absolute;
  top: 0;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #000;
}
.frame-div10 > * + * {
  margin-left: 134px;
}
.contact-us-div,
.group-div4 {
  position: absolute;
  width: 466px;
  height: 82px;
}
.contact-us-div {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.group-div4 {
  top: 148px;
  left: 631px;
  font-size: 64px;
}
.no-name-is-a-teletherapy-platf {
  position: absolute;
  top: 290px;
  left: 218px;
  display: inline-block;
  color: #878787;
  text-align: center;
  width: 1292px;
}
.flickflickcom-div {
  position: absolute;
  width: 100%;
  top: calc(50% - -11.5px);
  right: 0;
  left: 0;
  line-height: 11px;
  display: inline-block;
  height: 29px;
  mix-blend-mode: normal;
}
.email-us-b {
  top: 0;
  font-size: 36px;
  letter-spacing: -0.02em;
  line-height: 32px;
  display: inline-block;
  color: #0f9b93;
}
.div,
.email-us-b,
.group-div6 {
  position: absolute;
  left: 0;
}
.group-div6 {
  width: 17.02%;
  top: calc(50% - 42px);
  right: 82.98%;
  height: 81px;
}
.div {
  width: 100%;
  top: calc(50% - -15.5px);
  right: 0;
  line-height: 21px;
  display: inline-block;
  mix-blend-mode: normal;
}
.group-div7 {
  position: absolute;
  width: 15.52%;
  top: calc(50% - 42px);
  right: 40.03%;
  left: 44.45%;
  height: 73px;
  color: #0f1a10;
}
.follow-us-b {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 32px;
  display: inline-block;
}
.social-media-logo,
.social-media-logo1,
.social-media-logo2 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.social-media-logo1,
.social-media-logo2 {
  left: 65px;
}
.social-media-logo2 {
  left: 130px;
}
.group-div5,
.group-div8 {
  position: absolute;
  height: 84px;
}
.group-div8 {
  top: 0;
  left: 1166px;
  width: 168px;
  font-size: 36px;
  color: #0f9b93;
}
.group-div5 {
  width: 77.2%;
  top: calc(50% - 146px);
  right: 11.4%;
  left: 11.4%;
  color: #878787;
}
.frame-div14 {
  position: absolute;
  top: 114px;
  left: 184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
}
.frame-div14 > * + * {
  margin-left: 6px;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 570px;
}
.group-icon1,
.legal-div1 {
  position: absolute;
  top: 266px;
  left: 171px;
  width: 138px;
  height: 36px;
}
.legal-div1 {
  top: 139px;
  left: 1337px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div1,
.privacy-policy-div1,
.quick-links-div1,
.terms-of-service1 {
  position: absolute;
  top: 188px;
  left: 1337px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div1,
.quick-links-div1,
.terms-of-service1 {
  top: 235px;
}
.quick-links-div1,
.terms-of-service1 {
  top: 282px;
}
.quick-links-div1 {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div1,
.contact-div4,
.for-corporates-div2,
.for-therapists-div1 {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div1,
.contact-div4,
.for-therapists-div1 {
  top: 91px;
  left: 7px;
}
.about-us-div1,
.contact-div4 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div1 {
  top: 185px;
  left: 0;
}
.group-div10 {
  position: absolute;
  top: 139px;
  left: 829px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved1 {
  position: absolute;
  top: 474px;
  left: 798px;
  display: inline-block;
}
.group-div3,
.group-div9 {
  position: absolute;
  left: 0;
  width: 1728px;
}
.group-div9 {
  top: 710px;
  height: 570px;
  font-size: 14px;
}
.group-div3 {
  top: 64px;
  height: 1280px;
}
.contact-div2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1344px;
  text-align: left;
  font-size: 24px;
  color: #0f9b93;
  font-family: Poppins;
}
