body {
  margin: 0;
  line-height: normal;
}
.rectangle-div,
.rectangle-div1 {
  position: absolute;
  top: 317px;
  left: 438px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 680px;
  height: 183px;
  mix-blend-mode: darken;
}
.rectangle-div1 {
  top: 553px;
}
.welcome-to-no-name-jill-adams {
  position: absolute;
  top: 106.8px;
  left: 409px;
  width: 909.1px;
  height: 155.84px;
}
.explore-div {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.group-div,
.line-icon {
  position: absolute;
  top: 73px;
  left: 0;
  width: 224.04px;
  height: 5.3px;
}
.group-div {
  top: 889px;
  left: 417px;
  height: 78.3px;
  font-size: 32px;
}
.no-active-plans {
  margin: 0;
  font-weight: 700;
  position: absolute;
  top: 344.81px;
  left: 477px;
  font-size: inherit;
  line-height: 120%;
  font-family: inherit;
  text-align: center;
  display: inline-block;
}
.iwwaoption-div {
  position: absolute;
  top: 344.3px;
  left: 1179px;
  width: 24px;
  height: 23.16px;
  overflow: hidden;
}
.buy-now-icon {
  position: relative;
  width: 67.51px;
  height: 15.28px;
  flex-shrink: 0;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prev-plans-icon {
  position: relative;
  width: 80.45px;
  height: 11.98px;
  flex-shrink: 0;
}
.frame-button1 {
  cursor: pointer;
  border: 1px solid rgba(76, 175, 80, 0.25);
  padding: 14px 42px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 203px;
  border-radius: 15px;
  box-sizing: border-box;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-div1,
.group-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 367.45px;
  height: 63px;
}
.group-div1 {
  top: 394.81px;
  left: 469px;
}
.get-started-icon {
  position: relative;
  width: 89.84px;
  height: 11.98px;
  flex-shrink: 0;
}
.frame-button2 {
  cursor: pointer;
  border: 1px solid #0f9b93;
  padding: 14px 42px;
  background-color: #fff;
  position: absolute;
  top: 629.81px;
  left: 477px;
  border-radius: 15px;
  box-sizing: border-box;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.no-active-therapy {
  margin: 0;
  font-weight: 700;
  position: absolute;
  top: 571.81px;
  left: 466px;
  font-size: inherit;
  line-height: 120%;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  width: 249px;
  height: 28px;
}
.get-started-input {
  border: 0;
  background-color: #fff;
  position: relative;
  width: 89.84px;
  height: 11.98px;
  flex-shrink: 0;
}
.frame-button3 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 153px;
  left: 128px;
  border-radius: 15px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-div2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  width: 500px;
  height: 252px;
}
.something-on-your-mind-ask-qu,
.your-creative-release-capture {
  position: absolute;
  top: 57px;
  left: 49px;
  font-weight: 500;
  display: inline-block;
  width: 389px;
}
.your-creative-release-capture {
  left: 622px;
  width: 357px;
}
.go-to-discussion-forum {
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.frame-div,
.frame-div1 {
  position: absolute;
  top: 167px;
  left: 147px;
  border-radius: 15px;
  background-color: #0f9b93;
  height: 63px;
  display: flex;
  flex-direction: row;
  padding: 14px 42px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}
.frame-div1 {
  left: 692px;
  background-color: #fff;
  border: 1px solid #0f9b93;
  color: #0f9b93;
}
.group-div3 {
  position: absolute;
  top: 1027.3px;
  left: 417px;
  width: 979px;
  height: 252px;
  text-align: center;
  font-size: 16px;
}
.contact-us-span {
  color: #0f9b93;
}
.need-help-contact-us {
  position: absolute;
  top: 784px;
  left: 725px;
  display: inline-block;
}
.container-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 1452px;
}
.phbrain-fill-icon {
  position: absolute;
  top: 98px;
  left: 95px;
  width: 88px;
  height: 88px;
  overflow: hidden;
}
.contact-us-div,
.dashboard-div1,
.log-out-div {
  position: absolute;
  top: 416px;
  left: 0;
  display: inline-block;
}
.dashboard-div1,
.log-out-div {
  top: 520px;
}
.dashboard-div1 {
  top: 0;
  color: #4caf50;
}
.disussion-forum-div,
.mood-journal-div,
.profile-div {
  position: absolute;
  top: 104px;
  left: 0;
  display: inline-block;
}
.disussion-forum-div,
.mood-journal-div {
  top: 208px;
}
.disussion-forum-div {
  top: 312px;
}
.group-div4 {
  position: absolute;
  top: 270px;
  left: 82px;
  width: 163px;
  height: 550px;
  font-size: 20px;
}
.dashboard-div {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1340px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #878787;
  font-family: Poppins;
}
