body {
  margin: 0;
  line-height: normal;
}
.phbrain-fill-icon2 {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div11 > * + * {
  margin-left: 6px;
}
.contact-div2,
.faqs-div2,
.pricing-div {
  position: relative;
  display: inline-block;
}
.contact-div2,
.faqs-div2 {
  color: #4caf50;
}
.contact-div2 {
  color: #0f1a10;
}
.frame-div12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frame-div12 > * + * {
  margin-left: 80px;
}
.get-started-div2,
.login-div1 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.get-started-div2 {
  color: #fff;
}
.frame-button3,
.frame-button4 {
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button4 {
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button3 {
  padding: 0;
  background-color: transparent;
}
.frame-button3 > * + * {
  margin-left: 30px;
}
.frame-div10 {
  position: absolute;
  top: 65px;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div10 > * + * {
  margin-left: 134px;
}
.us-span {
  background: linear-gradient(90deg, #0f9b93, #4caf50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-b {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 44.13px;
  display: inline-block;
}
.text-div1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.supporting-text-div {
  position: relative;
  font-size: 24px;
  line-height: 22.06px;
  color: #53686a;
  display: inline-block;
  width: 564.82px;
}
.text-div {
  width: 706.02px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text-div > * + * {
  margin-top: 17.65px;
}
.container-div,
.container-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container-div1 {
  align-self: stretch;
}
.container-div {
  position: absolute;
  top: 79px;
  left: 393px;
  width: 941.36px;
  padding: 0 23.534074783325195px;
  box-sizing: border-box;
}
.header-section-div {
  position: absolute;
  top: 213px;
  left: calc(50% - 864px);
  background-color: rgba(76, 175, 80, 0.05);
  width: 1728px;
  height: 272px;
  text-align: center;
  font-size: 64px;
}
.icon {
  position: relative;
  border-radius: 17.65px;
  width: 35.3px;
  height: 35.3px;
  flex-shrink: 0;
}
.supporting-text-div1,
.text-div4 {
  position: relative;
  display: inline-block;
}
.text-div4 {
  align-self: stretch;
  line-height: 22px;
  font-weight: 500;
}
.supporting-text-div1 {
  font-size: 16px;
  line-height: 33px;
  width: 438px;
  height: 132px;
  flex-shrink: 0;
}
.text-div3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-div3 > * + * {
  margin-top: 5.88px;
}
.text-div2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-div2 > * + * {
  margin-top: 14.71px;
}
.supporting-text-div2,
.text-div6 {
  position: relative;
  display: inline-block;
}
.text-div6 {
  line-height: 22px;
  font-weight: 500;
  width: 460px;
  height: 51px;
  flex-shrink: 0;
}
.supporting-text-div2 {
  font-size: 16px;
  line-height: 33px;
  width: 460.95px;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-and-supporting-text > * + * {
  margin-top: 5.88px;
}
.supporting-text-div3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 33px;
  display: inline-block;
}
.content-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div > * + * {
  margin-left: 23.53px;
}
.container-div2 {
  width: 1477px;
  display: flex;
  flex-direction: column;
  padding: 0 23.534074783325195px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-div2 > * + * {
  margin-top: 47.07px;
}
.text-div20,
.text-div21 {
  position: relative;
  display: inline-block;
}
.text-div20 {
  align-self: stretch;
  line-height: 22.06px;
  font-weight: 600;
}
.text-div21 {
  line-height: 20.59px;
  color: #53686a;
  width: 564.82px;
}
.text-div19 {
  width: 564.82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text-div19 > * + * {
  margin-top: 5.88px;
}
.text-div22 {
  position: relative;
  font-size: 11.77px;
  line-height: 17.65px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.button,
.content-div2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 7.354398250579834px 13.237916946411133px;
  background-color: #0f9b93;
  border-radius: 5.88px;
  box-shadow: 0 0.7354398369789124px 1.47px rgba(16, 24, 40, 0.05);
  overflow: hidden;
  justify-content: center;
}
.content-div2 {
  align-self: stretch;
  border-radius: 11.77px;
  background-color: rgba(76, 175, 80, 0.03);
  padding: 23.534074783325195px;
  justify-content: space-between;
}
.container-div3,
.faq-section-div {
  width: 941.36px;
  display: flex;
  flex-direction: column;
  padding: 0 23.534074783325195px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.faq-section-div {
  position: absolute;
  top: 545px;
  left: 0;
  background-color: #fff;
  width: 1728px;
  height: 725px;
  overflow: hidden;
  padding: 47.06814956665039px 0;
  align-items: center;
  font-size: 24px;
  color: #878787;
}
.faq-section-div > * + * {
  margin-top: 47.07px;
}
.no-name-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.frame-div13 {
  position: absolute;
  top: 114px;
  left: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div13 > * + * {
  margin-left: 6px;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 39px;
  width: 1805px;
  height: 570px;
}
.group-icon1,
.legal-div1 {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div1 {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div1,
.privacy-policy-div1,
.quick-links-div1,
.terms-of-service1 {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div1,
.quick-links-div1,
.terms-of-service1 {
  top: 235px;
}
.quick-links-div1,
.terms-of-service1 {
  top: 282px;
}
.quick-links-div1 {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div1,
.contact-div3,
.for-corporates-div2,
.for-therapists-div1 {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div1,
.contact-div3,
.for-therapists-div1 {
  top: 91px;
  left: 7px;
}
.about-us-div1,
.contact-div3 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div1 {
  top: 185px;
  left: 0;
}
.group-div4 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved1 {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.frame-div14 {
  position: absolute;
  top: 139px;
  left: 219px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.frame-div14 > * + * {
  margin-left: 6px;
}
.group-div3 {
  position: absolute;
  top: 1330px;
  left: -39px;
  width: 1805px;
  height: 570px;
  font-size: 14px;
  color: #fff;
}
.faqs-div1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1900px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #000;
  font-family: Poppins;
}
