body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  width: 1728px;
  height: 932px;
}
.phbrain-fill-icon {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b {
  position: relative;
  display: inline-block;
}
.frame-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div1 > * + * {
  margin-left: 6px;
}
.home-div {
  position: relative;
  color: #4caf50;
  display: inline-block;
}
.frame-div2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frame-div2 > * + * {
  margin-left: 80px;
}
.get-started-div,
.login-div {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.get-started-div {
  color: #fff;
}
.frame-button,
.frame-button1 {
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button1 {
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button {
  padding: 0;
  background-color: transparent;
}
.frame-button > * + * {
  margin-left: 30px;
}
.frame-div {
  position: absolute;
  top: 65px;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.frame-div > * + * {
  margin-left: 134px;
}
.happiness-wellbeing-confidence-icon {
  position: absolute;
  top: 0;
  left: 582px;
  width: 894px;
  height: 725px;
  object-fit: cover;
}
.frame-div3 {
  position: absolute;
  top: 323px;
  left: 9px;
  width: 231.42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div3 > * + * {
  margin-left: 30px;
}
.therapist-span {
  background: linear-gradient(90deg, #0f9b93, #4caf50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.amet-minim-mollit-non-deserunt,
.find-the-perfect-therapist-onl {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80px;
  line-height: 127.5%;
  display: inline-block;
  width: 737px;
}
.amet-minim-mollit-non-deserunt {
  top: 216px;
  font-size: 19px;
  line-height: 150%;
  color: #878787;
  width: 616.18px;
}
.group-div,
.group-div1 {
  position: absolute;
  top: 133px;
  left: 0;
  width: 737px;
  height: 386px;
}
.group-div {
  top: 213px;
  left: 126px;
  width: 1476px;
  height: 725px;
  font-size: 16px;
}
.rectangle-icon {
  position: absolute;
  top: 998px;
  left: 0;
  width: 1745px;
  height: 685px;
}
.anciety-and-stress {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.frame-div4,
.frame-div5 {
  display: flex;
  flex-direction: row;
}
.frame-div5 {
  border-radius: 15px;
  border: 1px solid #0f9b93;
  box-sizing: border-box;
  position: relative;
  height: 63px;
  padding: 14px 42px;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div4 > * + * {
  margin-left: 80px;
}
.frame-div9 {
  position: absolute;
  top: 192px;
  left: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div9 > * + * {
  margin-left: 80px;
}
.frame-div14 {
  position: absolute;
  top: 96px;
  left: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div14 > * + * {
  margin-left: 80px;
}
.group-div2 {
  position: absolute;
  top: 1222px;
  left: 272px;
  width: 1184px;
  height: 255px;
  font-size: 16px;
  color: #0f9b93;
}
.b,
.success-stories-div {
  position: relative;
  display: inline-block;
}
.b {
  background: linear-gradient(180deg, #0f9b93, #4caf50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.success-stories-div {
  font-size: 19px;
  line-height: 150%;
  text-align: center;
}
.frame-div19 {
  position: absolute;
  top: 556px;
  left: 1350px;
  border-radius: 42px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 58px 47px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 55px;
  color: #263238;
}
.get-help-online-from-licensed {
  position: absolute;
  top: 998px;
  left: 451px;
  line-height: 127.5%;
  display: inline-block;
  text-align: center;
  width: 825px;
}
.get-help-at-home,
.private-and-secure-platform {
  position: absolute;
  top: 1743px;
  left: 581px;
  line-height: 127.5%;
  display: inline-block;
  width: 566px;
}
.private-and-secure-platform {
  top: 2598px;
  left: 574px;
  font-size: 24px;
  text-align: center;
  width: 579px;
}
.slice-div {
  position: relative;
  width: 100px;
  height: 100px;
  display: none;
}
.we-have-some-of-the-best-train {
  position: absolute;
  top: 1885px;
  left: 556px;
  font-size: 19px;
  line-height: 150%;
  color: #878787;
  text-align: center;
  display: inline-block;
  width: 616.18px;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(76, 175, 80, 0.05);
  width: 1727px;
  height: 273px;
}
.frame-button3 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 137px;
  left: 790.51px;
  border-radius: 15px;
  width: 163.86px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.need-more-details-see-how {
  position: absolute;
  top: 56px;
  left: 557.13px;
  line-height: 127.5%;
  display: inline-block;
  width: 607.78px;
}
.group-div3,
.rectangle-div2 {
  position: absolute;
  left: 0;
  width: 1727px;
}
.group-div3 {
  top: 3419px;
  height: 273px;
  font-size: 32px;
}
.rectangle-div2 {
  top: 0;
  background-color: #f9f9f9;
  height: 670px;
}
.book-a-counselling-plan,
.how-it-works {
  position: absolute;
  line-height: 127.5%;
  display: inline-block;
}
.how-it-works {
  top: 100px;
  left: 647px;
  width: 437px;
}
.book-a-counselling-plan {
  top: 24px;
  left: 110px;
}
.group-div6,
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
}
.group-div6 {
  width: 489px;
}
.choose-a-therapist {
  margin-block-start: 0;
  margin-block-end: 0;
}
.of-your-choice {
  margin: 0;
}
.choose-a-therapist-of-your-cho {
  position: absolute;
  top: 4px;
  left: 110px;
  line-height: 127.5%;
  display: inline-block;
}
.group-div7 {
  position: absolute;
  top: 147px;
  left: 0;
  width: 424px;
  height: 90px;
}
.group-div5 {
  position: relative;
  width: 489px;
  height: 237px;
  flex-shrink: 0;
}
.join-session-or-chat {
  position: absolute;
  top: 25px;
  left: 110px;
  line-height: 127.5%;
  display: inline-block;
}
.group-div10,
.group-div9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 434px;
  height: 90px;
}
.group-div10 {
  top: 149px;
  width: 483px;
}
.group-div8 {
  position: relative;
  width: 483px;
  height: 239px;
  flex-shrink: 0;
}
.frame-div20 {
  position: absolute;
  top: 276px;
  left: 228px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
}
.frame-div20 > * + * {
  margin-left: 299px;
}
.group-div4 {
  position: absolute;
  top: 2689px;
  left: 0;
  width: 1727px;
  height: 670px;
}
.featured-therapists-b {
  position: absolute;
  top: 4831px;
  left: 533px;
  display: inline-block;
  color: #0f9b93;
  text-align: center;
}
.h3-i,
.paragraph-div {
  position: relative;
  display: inline-block;
}
.paragraph-div {
  line-height: 140%;
}
.h3-i {
  font-size: 48px;
  font-weight: 500;
  color: #2b3a4b;
}
.h3-div,
.your-email-div {
  line-height: 140%;
  display: inline-block;
}
.h3-div {
  position: relative;
  color: #252b42;
  width: 450px;
}
.your-email-div {
  position: absolute;
  top: calc(50% - 15px);
  left: 20px;
}
.form-control-input-style-1-div {
  position: absolute;
  height: calc(100% - -2px);
  width: calc(100% - -2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  overflow: hidden;
}
.input-group-text-div {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 36px);
  line-height: 140%;
  display: inline-block;
}
.btn-div {
  position: absolute;
  height: calc(100% - -2px);
  width: calc(100% - 331px);
  top: -0.5px;
  right: -1px;
  bottom: -1.5px;
  left: 332px;
  border-radius: 0 5px 5px 0;
  background-color: #0f9b93;
  border: 1px solid #0f9b93;
  text-align: center;
  color: #fff;
}
.btn-div,
.card-content-div,
.input-group-div {
  overflow: hidden;
  box-sizing: border-box;
}
.input-group-div {
  position: relative;
  border-radius: 19px;
  border: 1px solid #f4f6f9;
  width: 450px;
  height: 58px;
  flex-shrink: 0;
  font-size: 14px;
  color: #858c94;
}
.card-content-div {
  position: absolute;
  top: calc(50% - -1892px);
  left: 2455px;
  width: 1728px;
  height: 690px;
  display: flex;
  flex-direction: column;
  padding: 26px 50px 25px;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  color: #858585;
}
.card-content-div > * + * {
  margin-top: 20px;
}
.frame-div21 {
  position: absolute;
  top: 114px;
  left: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
}
.frame-div21 > * + * {
  margin-left: 6px;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 39px;
  width: 1805px;
  height: 570px;
}
.group-icon4,
.legal-div {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div,
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  top: 235px;
}
.quick-links-div,
.terms-of-service {
  top: 282px;
}
.quick-links-div {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div,
.contact-div1,
.for-corporates-div,
.for-therapists-div {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div,
.contact-div1,
.for-therapists-div {
  top: 91px;
  left: 7px;
}
.about-us-div,
.contact-div1 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div {
  top: 185px;
  left: 0;
}
.group-div12 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.group-div11 {
  position: absolute;
  top: 5731px;
  left: -39px;
  width: 1805px;
  height: 570px;
  font-size: 14px;
  color: #0f9b93;
}
.rectangle-div3 {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}
.group-div14,
.group-div15,
.group-div16,
.rectangle-div3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 428px;
  height: 561px;
}
.group-div15,
.group-div16 {
  left: 461px;
}
.group-div16 {
  left: 922px;
}
.specialization-b {
  font-family: Poppins;
}
.specialization-anxiety-depres,
.specialization-anxiety-depres1,
.specialization-anxiety-depres2 {
  position: absolute;
  top: 267px;
  left: 61px;
  line-height: 125%;
  display: inline-block;
  width: 338px;
  height: 271px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}
.specialization-anxiety-depres1,
.specialization-anxiety-depres2 {
  left: 522px;
}
.specialization-anxiety-depres2 {
  left: 1012px;
}
.ellipse-icon,
.ellipse-icon1,
.ellipse-icon2 {
  position: absolute;
  top: 29px;
  left: 61px;
  width: 184px;
  height: 184px;
  object-fit: cover;
}
.ellipse-icon1,
.ellipse-icon2 {
  left: 522px;
}
.ellipse-icon2 {
  left: 1012px;
}
.group-div13 {
  position: absolute;
  top: 4987px;
  left: 189px;
  width: 1350px;
  height: 561px;
  font-size: 24px;
  color: #878787;
}
.book-now-div {
  position: relative;
  font-size: 14px;
  line-height: 120%;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.frame-div22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #0f9b93;
  height: 63px;
  display: flex;
  flex-direction: row;
  padding: 14px 42px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.group-button,
.group-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  width: 153px;
}
.group-button {
  position: absolute;
  left: 0;
  height: 63px;
}
.group-button1 {
  left: 461px;
}
.group-button1,
.group-button2,
.group-div17 {
  position: absolute;
  height: 63px;
}
.group-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 922px;
  width: 153px;
}
.group-div17 {
  top: 5608px;
  left: 326px;
  width: 1075px;
}
.what-our-clients-say-about-us {
  position: absolute;
  top: 0;
  left: 267px;
  display: inline-block;
}
.rectangle-div6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(76, 175, 80, 0.1);
  width: 1189px;
  height: 762px;
}
.when-i-held-my-baby-in-my-arms {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 506px;
}
.group-div20,
.image-3-icon {
  position: absolute;
  top: 294px;
  left: 146px;
  width: 506px;
  height: 174px;
}
.image-3-icon {
  top: 76px;
  left: 788px;
  border-radius: 30px;
  width: 649px;
  height: 610px;
  object-fit: cover;
}
.group-div19 {
  position: absolute;
  top: 189px;
  left: 50.5px;
  width: 1437px;
  height: 762px;
  text-align: left;
  font-size: 24px;
  font-family: Lato;
}
.group-div18,
.group-icon5,
.group-icon6 {
  position: relative;
  top: 417px;
  left: 1427px;
  width: 120px;
  height: 120px;
}
.group-div18,
.group-icon6 {
  left: -10px;
}
.group-div18 {
  top: 3752px;
  left: 95px;
  width: 1537px;
  height: 951px;
  text-align: center;
  color: #525252;
}
.rectangle-div7,
.rectangle-div8 {
  position: relative;
  border-radius: 10px;
  background-color: #0f9b93;
  width: 59px;
  height: 8px;
  flex-shrink: 0;
}
.rectangle-div8 {
  background-color: #d9d9d9;
}
.frame-div25 {
  position: absolute;
  top: 4763px;
  left: 763px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div25 > * + * {
  margin-left: 10px;
}
.group-icon7 {
  position: absolute;
  top: 2032px;
  left: 126px;
  width: 1530px;
  height: 400px;
}
.audio-session-b,
.chat-session-b,
.video-session-b {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 127.5%;
  display: inline-block;
}
.audio-session-b,
.video-session-b {
  left: 543px;
}
.video-session-b {
  left: 1097px;
}
.group-div21 {
  position: absolute;
  top: 2492px;
  left: 218px;
  width: 1354px;
  height: 46px;
  font-size: 36px;
}
.home-page-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 6000px;
  overflow: hidden;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Poppins;
}
