body {
  margin: 0;
  line-height: normal;
}
.phbrain-fill-icon6 {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b6 {
  position: relative;
  display: inline-block;
}
.frame-div21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div21 > * + * {
  margin-left: 6px;
}
.home-div3 {
  position: relative;
  color: #4caf50;
  display: inline-block;
}
.frame-div22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frame-div22 > * + * {
  margin-left: 80px;
}
.get-started-div4,
.login-div3 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.get-started-div4 {
  color: #fff;
}
.frame-button5,
.frame-button6 {
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button6 {
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button5 {
  padding: 0;
  background-color: transparent;
}
.frame-button5 > * + * {
  margin-left: 30px;
}
.frame-div20 {
  position: absolute;
  top: 75px;
  left: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 40px;
  color: #000;
}
.frame-div20 > * + * {
  margin-left: 134px;
}
.frame-button7 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 1219px;
  left: 776px;
  border-radius: 15px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.the-most-simple-convenient-w1 {
  position: absolute;
  top: 379px;
  left: 69px;
  display: inline-block;
  width: 1588px;
  height: 132px;
}
.how-it-works1 {
  position: absolute;
  top: 223px;
  left: 617px;
  font-size: 64px;
  display: inline-block;
  color: #0f9b93;
}
.choose-the-right-plan-for-you {
  position: absolute;
  top: 186px;
  left: 54px;
  font-weight: 900;
  display: inline-block;
  width: 311px;
}
.dashiconsmoney-alt {
  position: absolute;
  height: 12.91%;
  width: 16.9%;
  top: 9.45%;
  right: 41.67%;
  bottom: 77.64%;
  left: 41.43%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.frame-div23 {
  position: absolute;
  height: 93.54%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.46%;
  left: 0;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.plan-div6,
.plan-div7 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 588px;
}
.plan-div7 {
  left: 520px;
}
.start-therapy-sessions-by-agre {
  position: absolute;
  top: 288px;
  left: 10px;
  display: inline-block;
  width: 399px;
}
.group-icon4 {
  position: absolute;
  height: 13.01%;
  width: 17.07%;
  top: 9.45%;
  right: 41.5%;
  bottom: 77.54%;
  left: 41.43%;
  max-width: 100%;
  max-height: 100%;
}
.group-div15,
.plan-div8 {
  position: absolute;
  height: 588px;
}
.plan-div8 {
  top: 0;
  left: 1040px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
}
.group-div15 {
  top: 571px;
  left: 134px;
  width: 1460px;
}
.frame-div26 {
  position: absolute;
  top: 114px;
  left: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
}
.frame-div26 > * + * {
  margin-left: 6px;
}
.rectangle-icon3 {
  position: absolute;
  top: 0;
  left: 39px;
  width: 1805px;
  height: 570px;
}
.group-icon5,
.legal-div3 {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div3 {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div3,
.privacy-policy-div3,
.quick-links-div3,
.terms-of-service3 {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div3,
.quick-links-div3,
.terms-of-service3 {
  top: 235px;
}
.quick-links-div3,
.terms-of-service3 {
  top: 282px;
}
.quick-links-div3 {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div3,
.contact-div8,
.for-corporates-div4,
.for-therapists-div3 {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div3,
.contact-div8,
.for-therapists-div3 {
  top: 91px;
  left: 7px;
}
.about-us-div3,
.contact-div8 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div3 {
  top: 185px;
  left: 0;
}
.group-div17 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved3 {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.group-div16 {
  position: absolute;
  top: 1342px;
  left: -39px;
  width: 1805px;
  height: 570px;
  text-align: left;
  font-size: 14px;
  color: #0f9b93;
}
.how-it-works {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1870px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #878787;
  font-family: Poppins;
}
