body {
  margin: 0;
  line-height: normal;
}
.phbrain-fill-icon1 {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b {
  position: relative;
  display: inline-block;
}
.frame-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div2 > * + * {
  margin-left: 6px;
}
.home-div {
  position: relative;
  color: #263238;
  display: inline-block;
}
.frame-div3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frame-div3 > * + * {
  margin-left: 80px;
}
.get-started-div,
.login-div {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #4caf50;
  text-align: left;
  display: inline-block;
}
.get-started-div {
  color: #fff;
}
.frame-button2,
.frame-button3 {
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button3 {
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button2 {
  padding: 0;
  background-color: transparent;
}
.frame-button2 > * + * {
  margin-left: 30px;
}
.frame-div1 {
  position: absolute;
  top: 78px;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.frame-div1 > * + * {
  margin-left: 134px;
}
.log-in-div1 {
  position: absolute;
  top: 226px;
  left: 748px;
  font-size: 80px;
  display: inline-block;
}
.line-div2 {
  position: absolute;
  top: 363.5px;
  left: 661.5px;
  border-top: 5px solid #0f9b93;
  box-sizing: border-box;
  width: 404px;
  height: 5px;
}
.sign-up-span {
  color: #0f9b93;
}
.dont-have-an-account-sign-up {
  position: absolute;
  top: 440px;
  left: 580px;
  font-size: 32px;
  display: inline-block;
}
.log-in-div2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.frame-a,
.frame-div4 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-a {
  text-decoration: none;
  top: 915px;
  left: 766px;
  border-radius: 15px;
  background-color: #0f9b93;
  height: 63px;
  padding: 14px 42px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}
.frame-div4 {
  top: 114px;
  left: 223px;
  font-size: 40px;
  color: #000;
}
.frame-div4 > * + * {
  margin-left: 6px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 38px;
  width: 1805px;
  height: 570px;
}
.group-icon,
.legal-div {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div,
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  top: 235px;
}
.quick-links-div,
.terms-of-service {
  top: 282px;
}
.quick-links-div {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div,
.contact-div1,
.for-corporates-div,
.for-therapists-div {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div,
.contact-div1,
.for-therapists-div {
  top: 91px;
  left: 7px;
}
.about-us-div,
.contact-div1 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div {
  top: 185px;
  left: 0;
}
.group-div9 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.group-div8 {
  position: absolute;
  top: 1038px;
  left: -38px;
  width: 1805px;
  height: 570px;
  color: #0f9b93;
}
.frame-div5 {
  position: absolute;
  top: 426px;
  left: 578px;
  width: 131.89px;
}
.forgot-password-div,
.incorrect-password-div {
  position: absolute;
  top: 286px;
  left: 98px;
  text-align: center;
  display: inline-block;
  width: 138.86px;
}
.forgot-password-div {
  left: 237px;
}
.line-div3 {
  position: absolute;
  top: 38.5px;
  left: calc(50% - 388.08px);
  border-top: 1px solid #f5f5f5;
  box-sizing: border-box;
  width: 776.17px;
  height: 1px;
}
.information-div1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 120%;
  display: inline-block;
  width: 141.81px;
}
.group-div12,
.rectangle-div2 {
  position: absolute;
  top: 0;
  left: 99.65px;
  width: 141.81px;
  height: 29px;
}
.rectangle-div2 {
  top: 37px;
  left: 99.59px;
  background-color: #0f9b93;
  width: 75.9px;
  height: 4px;
}
.group-div11 {
  position: absolute;
  top: 0;
  left: calc(50% - 450.09px);
  width: 775.17px;
  height: 41px;
  font-size: 24px;
  color: #131313;
}
.span6 {
  color: #f60a18;
}
.label-div18 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.icon21 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.label-div17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label-div17 > * + * {
  margin-left: 4px;
}
.label-div19 {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-family: Inter;
  display: none;
}
.field-label-base6 {
  width: 548px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.field-label-base6 > * + * {
  margin-left: 8px;
}
.field-master-div5,
.icon22 {
  position: relative;
  flex-shrink: 0;
}
.icon22 {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: none;
}
.field-master-div5 {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #acacac;
  box-sizing: border-box;
  width: 806px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.field-master-div5 > * + * {
  margin-left: 8px;
}
.field-div6 {
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon24 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.field-caption-div5 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #3b82f6;
  font-family: Inter;
}
.field-caption-div5 > * + * {
  margin-left: 8px;
}
.inputdefault-div3 {
  position: absolute;
  top: 199px;
  left: 98px;
  width: 443.93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6b7280;
}
.inputdefault-div3 > * + * {
  margin-top: 8px;
}
.span7 {
  color: #48c38e;
}
.span8 {
  color: #fb0000;
}
.field-label-base7 {
  flex: 1;
  width: 548px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.field-label-base7 > * + * {
  margin-left: 8px;
}
.field-master-div6 {
  flex: 1;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #acacac;
  box-sizing: border-box;
  position: relative;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.field-master-div6 > * + * {
  margin-left: 8px;
}
.field-div7,
.inputdefault-div4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field-div7 {
  border-radius: 10px;
  width: 803px;
  flex-direction: row;
}
.inputdefault-div4 {
  position: absolute;
  top: 81px;
  left: 98px;
  width: 802.17px;
  height: 78px;
  flex-direction: column;
  color: #6b7280;
}
.inputdefault-div4 > * + * {
  margin-top: 8px;
}
.group-div10 {
  position: absolute;
  top: 548px;
  left: 381px;
  width: 900.17px;
  height: 307px;
  color: #0f9b93;
}
.log-in-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1008px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Poppins;
}
