body {
  margin: 0;
  line-height: normal;
}
.plan-thats-right1 {
  color: rgba(0, 0, 0, 0.2);
}
.find-a-plan-thats-right-for-yo1 {
  position: absolute;
  top: 328px;
  left: 335px;
  line-height: 127.5%;
  display: inline-block;
  width: 1057px;
}
.line-div1 {
  position: absolute;
  top: 437.5px;
  left: 560.5px;
  border-top: 5px solid #0f9b93;
  box-sizing: border-box;
  width: 607px;
  height: 5px;
  opacity: 0.5;
}
.cancel-anytime-change-your-th1,
.sessions-do-not-expire-and-hav1 {
  position: absolute;
  top: 500px;
  left: 556px;
  font-size: 24px;
  line-height: 150%;
  color: #878787;
  display: inline-block;
  width: 616.18px;
}
.sessions-do-not-expire-and-hav1 {
  top: 1349px;
  font-size: 19px;
}
.phbrain-fill-icon8 {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b8 {
  position: relative;
  display: inline-block;
}
.frame-div28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.frame-div28 > * + * {
  margin-left: 6px;
}
.home-div4 {
  position: relative;
  color: #4caf50;
  display: inline-block;
}
.frame-div29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div29 > * + * {
  margin-left: 80px;
}
.login-div4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.frame-div31 {
  border-radius: 15px;
  background-color: #0f9b93;
  height: 63px;
  padding: 14px 42px;
  box-sizing: border-box;
  color: #fff;
}
.frame-div30,
.frame-div31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div30 > * + * {
  margin-left: 30px;
}
.frame-div27 {
  position: absolute;
  top: 77px;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 16px;
}
.frame-div27 > * + * {
  margin-left: 134px;
}
.frame-div32 {
  position: absolute;
  top: 114px;
  left: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
}
.frame-div32 > * + * {
  margin-left: 6px;
}
.rectangle-icon4 {
  position: absolute;
  top: 0;
  left: 39px;
  width: 1805px;
  height: 570px;
}
.group-icon6,
.legal-div4 {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div4 {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div4,
.privacy-policy-div4,
.quick-links-div4,
.terms-of-service4 {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div4,
.quick-links-div4,
.terms-of-service4 {
  top: 235px;
}
.quick-links-div4,
.terms-of-service4 {
  top: 282px;
}
.quick-links-div4 {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div4,
.contact-div10,
.for-corporates-div5,
.for-therapists-div4 {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div4,
.contact-div10,
.for-therapists-div4 {
  top: 91px;
  left: 7px;
}
.about-us-div4,
.contact-div10 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div4 {
  top: 185px;
  left: 0;
}
.group-div19 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved4 {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.group-div18 {
  position: absolute;
  top: 1525px;
  left: -39px;
  width: 1805px;
  height: 570px;
  text-align: left;
  font-size: 14px;
  color: #0f9b93;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 933px;
  height: 700px;
}
.plan-summary-div {
  position: absolute;
  top: 57px;
  left: 72px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 900;
  display: inline-block;
}
.evaclose-fill-icon {
  position: absolute;
  top: 20px;
  left: 870px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div1,
.jill-adams-div,
.jilladamsgmailcom-div,
.mind-your-mind {
  position: absolute;
  top: 0;
  left: 85px;
  line-height: 120%;
  font-weight: 900;
  display: inline-block;
}
.div1,
.jilladamsgmailcom-div,
.mind-your-mind {
  top: 69px;
}
.div1,
.mind-your-mind {
  top: 144px;
}
.mind-your-mind {
  top: 208px;
}
.ghs-600-div {
  top: 280px;
  left: 85px;
  font-weight: 900;
}
.email-div,
.ghs-600-div,
.mobile-money-div,
.name-div,
.phone-div {
  position: absolute;
  line-height: 120%;
  display: inline-block;
}
.mobile-money-div {
  top: 344px;
  left: 85px;
  font-weight: 900;
}
.email-div,
.name-div,
.phone-div {
  top: 0;
  left: 0;
  color: #92929d;
}
.email-div,
.phone-div {
  top: 72px;
}
.phone-div {
  top: 144px;
}
.plan {
  margin-block-start: 0;
  margin-block-end: 0;
}
.name-p {
  margin: 0;
}
.pay-with-div,
.plan-name-div,
.total-div {
  position: absolute;
  top: 208px;
  left: 0;
  line-height: 120%;
  color: #92929d;
  display: inline-block;
}
.pay-with-div,
.total-div {
  top: 280px;
}
.pay-with-div {
  top: 336px;
  width: 85px;
}
.group-div21 {
  position: absolute;
  top: 122px;
  left: 341px;
  width: 299px;
  height: 380px;
  color: #131313;
}
.click-here-div1 {
  position: relative;
  line-height: 120%;
  text-transform: capitalize;
  font-weight: 900;
  display: inline-block;
}
.button-div,
.button-div1 {
  position: absolute;
  top: 560px;
  border-radius: 15px;
  width: 177px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 11px 24px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button-div {
  left: 279px;
  border: 1px solid #0f9b93;
}
.button-div1 {
  left: 476px;
  background-color: #0f9b93;
  color: #fff;
}
.group-div20 {
  position: absolute;
  top: 289px;
  left: 397px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.05);
  width: 933px;
  height: 700px;
  text-align: left;
  font-size: 18px;
  color: #0f9b93;
  
}
.plan-review-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2095px;
  overflow: hidden;
  text-align: center;
  font-size: 64px;
  color: #000;
  font-family: Poppins;
}
