body {
  margin: 0;
  line-height: normal;
}
.plan-thats-right6 {
  color: rgba(0, 0, 0, 0.2);
}
.find-a-plan-thats-right-for-yo6 {
  position: absolute;
  top: 223px;
  left: 335px;
  line-height: 127.5%;
  display: inline-block;
  width: 1057px;
  color: #000;
}
.line-div6 {
  position: absolute;
  top: 332.5px;
  left: 560.5px;
  border-top: 5px solid #0f9b93;
  box-sizing: border-box;
  width: 607px;
  height: 5px;
  opacity: 0.5;
}
.cancel-anytime-change-your-th6 {
  position: absolute;
  top: 395px;
  left: 556px;
  font-size: 24px;
  line-height: 150%;
  display: inline-block;
  width: 616.18px;
}
.explore-b {
  top: 65px;
  left: 116px;
  color: #0f9b93;
}
.explore-b,
.ghc000-b,
.price-per-session {
  position: absolute;
  line-height: 125%;
  display: inline-block;
}
.ghc000-b {
  top: 30px;
  left: 0;
  width: 149px;
  height: 36px;
}
.price-per-session {
  top: 48px;
  left: 218px;
  font-size: 18px;
  color: #0f9b93;
  text-align: left;
}
.frame-div56 {
  position: absolute;
  top: 185px;
  left: 54px;
  width: 312px;
  height: 66px;
  font-size: 36px;
}
.line-div7 {
  position: absolute;
  top: 309px;
  left: 34px;
  border-top: 2px solid #dbd7d7;
  box-sizing: border-box;
  width: 362px;
  height: 2px;
}
.months-div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 125%;
  display: inline-block;
}
.create-a-plan-with-your-therap,
.dicuss-your-issues-and-vent-ou {
  position: absolute;
  top: 39px;
  left: 0;
  line-height: 125%;
  display: inline-block;
}
.create-a-plan-with-your-therap {
  top: 78px;
}
.frame-div58 {
  position: absolute;
  top: 0;
  left: 36px;
  width: 159px;
  height: 101px;
}
.group-icon11 {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.frame-div59 {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div59 > * + * {
  margin-top: 17px;
}
.frame-div57 {
  position: absolute;
  top: 367px;
  left: 54px;
  width: 195px;
  height: 101px;
  text-align: left;
  font-size: 18px;
}
.frame-div55 {
  position: absolute;
  height: 93.54%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.46%;
  left: 0;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.buy-now {
  position: absolute;
  top: 24px;
  left: 58px;
  font-size: 22px;
  line-height: 125%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Ubuntu;
  color: #f8f0f6;
  text-align: left;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #0f9b93;
  position: absolute;
  height: 12.76%;
  width: 52.38%;
  top: 87.24%;
  right: 8.81%;
  bottom: 0;
  left: 38.81%;
  border-radius: 25px;
  overflow: hidden;
}
.mind-your-mind2,
.plan-div9 {
  position: absolute;
  top: 42px;
  font-size: 50px;
}
.plan-div9 {
  left: 0;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 588px;
}
.mind-your-mind2 {
  left: 48px;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 323px;
  height: 108px;
}
.ghc000-b1 {
  top: 215px;
  left: 54px;
  font-size: 36px;
  color: #b5afaf;
  width: 163px;
  height: 36px;
}
.ghc000-b1,
.learn-how-to-manage-thoughts-a,
.price-per-8-sessions {
  position: absolute;
  line-height: 125%;
  display: inline-block;
}
.price-per-8-sessions {
  top: 233px;
  left: 249px;
  text-align: left;
}
.learn-how-to-manage-thoughts-a {
  top: 78px;
  left: 0;
  width: 334px;
}
.buy-now1,
.frame-div61 {
  position: absolute;
  text-align: left;
}
.frame-div61 {
  top: 367px;
  left: 54px;
  width: 195px;
  height: 101px;
  color: #b5afaf;
}
.buy-now1 {
  top: 24px;
  left: 57px;
  font-size: 22px;
  line-height: 125%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Ubuntu;
  color: #f8f0f6;
}
.plan-div10 {
  position: absolute;
  top: 42px;
  left: 908px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 588px;
  color: #0f9b93;
}
.ghc000-b2 {
  position: absolute;
  top: 215px;
  left: 54px;
  font-size: 36px;
  line-height: 125%;
  display: inline-block;
  color: #ebc500;
  text-align: center;
  width: 157px;
  height: 36px;
}
.first-steps-b,
.price-per-3-sessions {
  position: absolute;
  line-height: 125%;
  color: #0f9b93;
}
.price-per-3-sessions {
  top: 233px;
  left: 258px;
  display: inline-block;
}
.first-steps-b {
  top: 42px;
  left: 48px;
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 323px;
  height: 108px;
}
.line-div9 {
  position: absolute;
  top: 309px;
  left: 34px;
  border-top: 2px solid #4caf50;
  box-sizing: border-box;
  width: 362px;
  height: 2px;
}
.weeks-of-chat-access {
  position: absolute;
  top: 367px;
  left: 90px;
  line-height: 125%;
  display: inline-block;
}
.break-negative-thought-loops,
.identify-thought-patterns,
.initiate-positive-ones {
  position: absolute;
  top: 406px;
  left: 90px;
  line-height: 125%;
  display: inline-block;
}
.break-negative-thought-loops,
.initiate-positive-ones {
  top: 445px;
}
.initiate-positive-ones {
  top: 484px;
}
.group-icon17 {
  position: absolute;
  top: 368px;
  left: 54px;
  width: 22px;
  height: 22px;
}
.frame-div64,
.group-icon18,
.group-icon19,
.group-icon20 {
  position: absolute;
  top: 407px;
  left: 54px;
  width: 22px;
  height: 22px;
}
.frame-div64,
.group-icon19,
.group-icon20 {
  top: 446px;
}
.frame-div64,
.group-icon20 {
  top: 485px;
}
.frame-div64 {
  height: 93.54%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.46%;
  left: 0;
  border-radius: 15px;
  background-color: #89c5cc;
  overflow: hidden;
}
.plan-div11 {
  position: absolute;
  top: 0;
  left: 454px;
  width: 420px;
  height: 588px;
  text-align: left;
  color: #f8f0f6;
}
.desktop-1,
.frame-div54 {
  position: absolute;
  top: 197px;
  left: 56px;
  width: 1328px;
  height: 630px;
}
.desktop-1 {
  top: 479px;
  left: 144px;
  border-radius: 5px;
  background-color: rgba(76, 175, 80, 0.05);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  font-size: 18px;
  color: #b5afaf;
  font-family: Ubuntu;
}
.sessions-do-not-expire-and-hav6 {
  position: absolute;
  top: 1563px;
  left: 545px;
  font-size: 19px;
  line-height: 150%;
  display: inline-block;
  width: 616.18px;
}
.pricing-page-div1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2309px;
  overflow: hidden;
  text-align: center;
  font-size: 64px;
  color: #878787;
  font-family: Poppins;
}
