body {
  margin: 0;
  line-height: normal;
}
.phbrain-fill-icon {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  overflow: hidden;
}
.no-name-b {
  position: relative;
  display: inline-block;
}
.frame-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div1 > * + * {
  margin-left: 6px;
}
.home-div {
  position: relative;
  color: #4caf50;
  display: inline-block;
}
.frame-div2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frame-div2 > * + * {
  margin-left: 80px;
}
.get-started-div,
.login-div {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  display: inline-block;
}
.get-started-div {
  color: #fff;
}
.frame-button,
.frame-button1 {
  cursor: pointer;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button1 {
  padding: 14px 42px;
  background-color: #0f9b93;
  border-radius: 15px;
  height: 63px;
  box-sizing: border-box;
}
.frame-button {
  padding: 0;
  background-color: transparent;
}
.frame-button > * + * {
  margin-left: 30px;
}
.frame-div {
  position: absolute;
  top: 75px;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 40px;
  color: #000;
}
.frame-div > * + * {
  margin-left: 134px;
}
.services-h1,
.the-most-simple-convenient-w {
  margin: 0;
  font-weight: 700;
  position: absolute;
  display: inline-block;
}
.the-most-simple-convenient-w {
  top: 379px;
  left: 53px;
  color: #878787;
  width: 1588px;
  height: 132px;
}
.services-h1 {
  top: 223px;
  left: 695px;
  font-size: 64px;
  font-family: inherit;
}
.frame-button2 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 1907px;
  left: 776px;
  border-radius: 15px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.individual-therapy {
  position: absolute;
  top: 186px;
  left: 54px;
  font-weight: 900;
  display: inline-block;
  width: 311px;
}
.we-offer-excellent-choice-for {
  position: absolute;
  top: 288px;
  left: 10px;
  color: #878787;
  display: inline-block;
  width: 399px;
}
.frame-div3,
.plan-div {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-div3 {
  height: 93.54%;
  width: 100%;
  right: 0;
  bottom: 6.46%;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.plan-div {
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 588px;
}
.couple-therapy-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 186px;
  left: 54px;
  font-size: 24px;
  font-weight: 900;
  font-family: Poppins;
  color: #0f9b93;
  text-align: center;
  display: inline-block;
  width: 311px;
}
.we-offer-excellent-choice-for1 {
  position: absolute;
  top: 288px;
  left: 10px;
  display: inline-block;
  width: 399px;
}
.plan-div1,
.plan-div2,
.plan-div3,
.plan-div4,
.plan-div5 {
  position: absolute;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 588px;
}
.plan-div1 {
  top: 688px;
  left: 0;
  color: #878787;
}
.plan-div2,
.plan-div3,
.plan-div4,
.plan-div5 {
  top: 0;
  left: 520px;
}
.plan-div3,
.plan-div4,
.plan-div5 {
  top: 688px;
}
.plan-div4,
.plan-div5 {
  top: 0;
  left: 1040px;
}
.plan-div5 {
  top: 688px;
}
.group-div {
  position: absolute;
  top: 571px;
  left: 117px;
  width: 1460px;
  height: 1276px;
}
.frame-div9 {
  position: absolute;
  top: 114px;
  left: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
}
.frame-div9 > * + * {
  margin-left: 6px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 48px;
  width: 1805px;
  height: 570px;
}
.group-icon,
.legal-div {
  position: absolute;
  top: 266px;
  left: 210px;
  width: 138px;
  height: 36px;
}
.legal-div {
  top: 139px;
  left: 1376px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  width: 65px;
  height: 27px;
}
.disclaimer-div,
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  position: absolute;
  top: 188px;
  left: 1376px;
  display: flex;
  align-items: flex-end;
  width: 119px;
  height: 25px;
}
.privacy-policy-div,
.quick-links-div,
.terms-of-service {
  top: 235px;
}
.quick-links-div,
.terms-of-service {
  top: 282px;
}
.quick-links-div {
  top: 0;
  left: 18px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: left;
  width: 129px;
  height: 27px;
}
.about-us-div,
.contact-div1,
.for-corporates-div1,
.for-therapists-div {
  position: absolute;
  top: 44px;
  left: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 119px;
  height: 25px;
}
.about-us-div,
.contact-div1,
.for-therapists-div {
  top: 91px;
  left: 7px;
}
.about-us-div,
.contact-div1 {
  top: 138px;
  left: 1px;
  width: 98px;
}
.about-us-div {
  top: 185px;
  left: 0;
}
.group-div2 {
  position: absolute;
  top: 139px;
  left: 868px;
  width: 147px;
  height: 210px;
  text-align: center;
}
.copyright-all-rights-reserved {
  position: absolute;
  top: 474px;
  left: 837px;
  display: inline-block;
}
.group-div1 {
  position: absolute;
  top: 2030px;
  left: -48px;
  width: 1805px;
  height: 570px;
  text-align: left;
  font-size: 14px;
}
.services-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2572px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #0f9b93;
  font-family: Poppins;
}
