body {
  margin: 0;
  line-height: normal;
}
.sign-up-h1 {
  margin: 0;
  font-weight: 700;
  position: absolute;
  top: 216px;
  left: 740px;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
.line-div {
  position: absolute;
  top: 363.5px;
  left: 661.5px;
  border-top: 5px solid #0f9b93;
  box-sizing: border-box;
  width: 404px;
  height: 5px;
}
.log-in-span {
  color: #0f9b93;
}
.already-have-an-account-log-i {
  position: absolute;
  top: 396px;
  left: 603px;
  font-size: 32px;
  display: inline-block;
}
.sign-up-div1 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.frame-button3 {
  cursor: pointer;
  border: 0;
  padding: 14px 42px;
  background-color: #0f9b93;
  position: absolute;
  top: 1098px;
  left: 791px;
  border-radius: 15px;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.by-signing-up-you-agree-to-ou1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-acknowledge-that-you-have {
  margin: 0;
}
.by-signing-up-you-agree-to-ou {
  position: absolute;
  top: 1251px;
  left: 584px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: #878787;
}
.line-icon {
  position: absolute;
  top: 542px;
  left: calc(50% - 869px);
  width: 1740px;
  height: 1px;
}
.information-h3 {
  margin: 0;
  font-weight: unset;
  position: absolute;
  top: 504px;
  left: 425px;
  font-size: 24px;
  line-height: 120%;
  font-family: inherit;
  color: #131313;
  display: inline-block;
}
.inputdefault,
.rectangle-div {
  position: absolute;
  top: 541px;
  left: 425px;
  background-color: #0f9b93;
  width: 141px;
  height: 4px;
}
.inputdefault {
  border: 0;
  background-color: transparent;
  top: 233px;
  left: 0;
  width: 791px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputdefault1 {
  top: 361px;
  left: 0;
  width: 791px;
}
.inputdefault1,
.inputdefault2,
.inputdefault3,
.inputdefault4 {
  border: 0;
  background-color: transparent;
  position: absolute;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputdefault2 {
  top: 111px;
  left: 0;
  width: 791px;
}
.inputdefault3,
.inputdefault4 {
  top: 0;
  width: 361px;
}
.inputdefault3 {
  left: 0;
  padding: 0 18px 0 0;
  box-sizing: border-box;
}
.inputdefault4 {
  left: 430px;
}
.group-form {
  position: absolute;
  top: 589px;
  left: 468px;
  width: 791px;
  height: 439px;
}
.sign-up-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1951px;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: Poppins;
}
