<!-- Bulk SMS Modal -->
<div class="modal fade" id="bulk-sms-modal" tabindex="-1" role="dialog" aria-labelledby="Bulk SMS modal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Bulk SMS modal"><i class="fa fa-comments"></i> Send Bulk SMS</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="bulk-sms-form">
                    <div class="row">
                        <!-- Recipient Details -->
                        <div class="col-4">
                            <h4>Select recipients</h4>
                            <hr>
                            <div class="form-group">
                                <label for="sms-recipient-group">Group recipients by</label>
                                <select required class="form-control form-control-sm" name="recipientGroup"
                                        id="sms-recipient-group">
                                    <option value="">-- Select --</option>
                                    <option value="all">All</option>
                                    <option value="cooperative">Cooperative</option>
                                    <option value="society">Society</option>
                                    <option value="country">Country</option>
                                    <option value="language">Language</option>
                                </select>
                            </div>

                            <div class="form-group" id="sms-recipient-cooperative-holder" hidden></div>
                            <div class="form-group" id="sms-recipient-society-holder" hidden></div>
                            <div class="form-group" id="sms-recipient-country-holder" hidden></div>
                            <div class="form-group" id="sms-recipient-language-holder" hidden></div>
                        </div>

                        <!-- Message Details -->
                        <div class="col-8" style="border-left: 1px solid #eee">
                            <h4>Draft Message</h4>
                            <hr>

                            <div class="row">
                                <div class="col"><p>Click to insert variable</p></div>
                                <div class="col d-flex justify-content-between">
                                            <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                                  style="cursor: pointer">Name</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Phone</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Cooperative</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Premium_Amount</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Country</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Society</span>
                                    <span class="shadow shadow-sm badge badge-pill badge-secondary template-variable"
                                          style="cursor: pointer">Language</span>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label for="message-body">Message Body</label>
                                <textarea required class="form-control form-control-sm" id="message-body"
                                          name="messageBody" rows="8"
                                          cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer flex-column">
                <div>
                    <button type="reset" form="bulk-sms-form" class="btn btn-sm btn-danger">Reset</button>
                    <button type="reset" form="bulk-sms-form" class="btn btn-sm btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" form="bulk-sms-form" class="btn btn-sm btn-primary">Send</button>
                </div>

                <br>

                <div id="bulk-sms-form-feedback"></div>
            </div>
        </div>
    </div>
</div>