<div class="modal fade" id="editFarmerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Farmer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    <p class="alert alert-warning p-1">Under Construction</p>
                </div>
                <form class="form" method="post" action="/addfarmer">
                    {{ form.hidden_tag() }}

                    <div class="form-body">
                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-cooperative">Cooperative</label>
                            <input type="text" name="cooperative" id="edit-farmer-cooperative" class="form-control" placeholder="Cooperative">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-last-name">Farmer Name</label>
                            <input type="text" name="last_name" id="edit-farmer-last-name" class="form-control" placeholder="Farmer Name">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-number">Number</label>
                            <input type="text" name="number" id="edit-farmer-number" class="form-control" placeholder="Phone number">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-premium-amount">Premium Amount</label>
                            <input type="text" name="premium_amount" id="edit-farmer-premium-amount" class="form-control" placeholder="Premium Amount">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-cash-code">Cash Code</label>
                            <input type="text" name="cashcode" id="edit-farmer-cash-code" class="form-control" placeholder="Cash code">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-language">Language</label>
                            <input type="text" name="language" id="edit-farmer-language" class="form-control" placeholder="Language">
                        </div>
                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-society">Society</label>
                            <input type="text" name="society" id="edit-farmer-society" class="form-control" placeholder="Society">
                        </div>

                        <div class="form-group" style="margin-bottom:20px">
                            <label for="edit-farmer-country">Country</label>
                            <input type="text" name="country" id="edit-farmer-country" class="form-control" placeholder="Country">
                        </div>


                        <div class="form-actions center" style="margin-bottom:20px">
                            <input type="submit" value="Send" class="btn btn-primary text-center" style="color: white;background-color:#0F9B93;border-color:#FFF9B9;">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>