{% extends "portal/base.html" %}
{% block content %}
 
        <!-- main contents -->
        <main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

            <div class="flex max-lg:flex-col 2xl:gap-12 gap-10 2xl:max-w-[1220px] max-w-[1065px] mx-auto" id="js-oversized">

                <div class="flex-1">
     
                    <div class="max-w-[680px] w-full mx-auto">

                        <div class="page-heading">
                            <h1 class="page-title"> Organizations </h1>
                        </div>
        
                        <!-- groups -->
                        <div class="box p-5">
        
                         
                            
                        </div>
        
                        <!-- tab 2 -->
                        <nav class="mt-8 dark:border-slate-700 mb-6">
                        
                            <ul class="flex gap-2 text-xs text-center text-gray-600 capitalize font-semibold dark:text-white/80" uk-switcher="connect: #tabs2 ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium"> 
                            
                                <li> 
                                    <a href="#" class="inline-flex items-center gap-2 py-2.5 px-4 rounded-full aria-expanded:text-white aria-expanded:bg-black"> 
                                        New 
                                    </a> 
                                </li>  
                                <li> 
                                    <a href="#" class="inline-flex items-center gap-2 py-2.5 px-4 rounded-full aria-expanded:text-white aria-expanded:bg-black"> 
                                        Popular 
                                    </a>
                                </li>   
                        
                            </ul> 
        
                        </nav>
                        
                        <div id="tabs2" class="uk-switcher">
        
                            <!-- layouy 1 -->
                            <div>

                                <div class="grid md:grid-cols-3 grid-cols-2 gap-2.5" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 20 ;repeat: true">
                                    {%for organization in organizations%}

                                    <div class="card">
                                        <a href="timeline-group.html"> 
                                            <div class="card-media h-24">
                                                <img src="/static/main/assets/images/group/group-cover-4.jpg" alt="">
                                                <div class="card-overly"></div>
                                            </div>
                                        </a>
                                        <div class="card-body relative z-10">
                                            <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-10 rounded-full mb-2 shadow md:-mt-11 -mt-7 relative border-2 border-white">
                                            <a href="timeline-group.html"> <h4 class="card-title"> {{organization.user.name}} </h4></a>
                                            <div class="card-text mt-1">
                                                <div class="flex items-center flex-wrap space-x-1">
                                                    <a href="timeline-group.html"> <span> {{organization.views}} views </span> </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                   </div>
        
                                <!-- show more -->
                                <div class="flex justify-center my-6">
                                    <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                                </div>

                            </div>
        
                        </div>

                    </div>
    
     
                </div> 
    
                <!-- sidebar -->
                <div class="2xl:w-[380px] lg:w-[330px] w-full">
    
                    <div class="lg:space-y-6 space-y-4 lg:pb-8 max-lg:grid sm:grid-cols-2 max-lg:gap-6" uk-sticky="media: 1024; end: #js-oversized; offset: 80">

                        <div class="box p-5 px-6">
    
                            <div class="flex items-baseline justify-between text-black dark:text-white">
                                <h3 class="font-bold text-base"> Popular Issues</h3>
                                <a href="#" class="text-sm text-blue-500">See all Issues</a>
                            </div>
                        
                            <div class="side-list">
                                {% for issue in issues[:5]%}
                                <div class="side-list-item">
                                    <a href="timeline-group.html">
                                        <img src="/static/main/assets/images/avatars/avatar-2.jpg" alt="" class="side-list-image rounded-md">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline-group.html"><h4 class="side-list-title"> {{issue.title}}</h4></a>
                                        <div class="side-list-info"> {{issue.views}} </div>
                                    </div>
                                    <button class="button bg-secondery">Edit</button>
                                </div>
                                {%endfor%}
                                 
                                 
                            </div>
                            <button class="bg-secondery w-full text-black py-1.5 font-medium px-3.5 rounded-md text-sm mt-3 dark:text-white">See all</button>

                        </div>
    
                         <!-- Groups You Manage  -->
                         <div class="bg-white rounded-xl shadow p-5 px-6 border1 dark:bg-dark2">
                                        
                            <div class="flex items-baseline justify-between text-black dark:text-white">
                                <h3 class="font-bold text-base"> Popular Polls </h3>
                                <a href="#" class="text-sm text-blue-500">See all</a>
                            </div>
    
                            <div class="side-list">
                                {% for poll in polls[:5]%}
                                <div class="side-list-item">
                                    <a href="timeline-group.html">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="" class="side-list-image rounded-md">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline-group.html"><h4 class="side-list-title">  {{poll.question}}</h4></a>
                                        <div class="side-list-info"> </div>
                                    </div>
                                    <button class="button bg-primary-soft text-primary dark:text-white">Like</button>
                                </div>
                                {%endfor%}
                                 
                                 
                            </div>
    
                            <button class="bg-secondery w-full text-black py-1.5 font-medium px-3.5 rounded-md text-sm mt-3 dark:text-white">See all</button>
    
                        </div>
    
                        <!-- Groups You Manage  -->
                        <div class="bg-white rounded-xl shadow p-5 px-6 border1 dark:bg-dark2">
                                        
                            <div class="flex items-baseline justify-between text-black dark:text-white">
                                <h3 class="font-bold text-base"> Suggested Discussions </h3>
                                <a href="#" class="text-sm text-blue-500">See all</a>
                            </div>
    
                            <div class="side-list">
                                    {%for discussion in discussions[:5]%}
                                <div class="side-list-item">
                                    <a href="timeline-group.html">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="" class="side-list-image rounded-md">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline-group.html"><h4 class="side-list-title">  {{discussion.title}}</h4></a>
                                        <div class="side-list-info"> {{discussion.views}} views </div>
                                    </div>
                                    <button class="button bg-primary text-white">{{discussion.likes}} likes</button>
                                </div>
                                {%endfor%}
                            
                               
                                 
                            </div>
                            <button class="bg-secondery w-full text-black py-1.5 font-medium px-3.5 rounded-md text-sm mt-3 dark:text-white">See all</button>

                        </div>
         
                    </div> 
    
                </div>
    
            </div>

            
        </main>

    </div>


      
              
              <div class="w-3.5 h-3.5 absolute -bottom-2 right-5 bg-white rotate-45 dark:bg-dark3"></div>
        </div>
    </div>

      
           
    {% endblock %}