{% extends "therapistportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Personal Information</h4>
		</div>
	</div>

	<div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title col-md-2" style="border-bottom: 5px solid #0F9B93;">Information</h4>
                </div>
                <div class="card-body">
                    <form class="form" >
                        {{ form.hidden_tag() }}

                        <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                            <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="donationinput1 " class="sr-only">First Name</label>
                                {{ form.name(class="form-control",placeholder="First Name") }}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="donationinput2" class="sr-only">Last Name</label>
                                {{ form.last_name(class="form-control",placeholder="Last Name") }}
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="donationinput3" class="sr-only">E-mail</label>
                                {{ form.email(class="form-control",placeholder="Email") }}
                            </div>

                            <div class="form-group">
                                <label for="donationinput4" class="sr-only">Contact Number</label>
                                {{ form.number(class="form-control",placeholder="Number") }}
                            </div>
                            <div class="form-group">
                                <label for="donationinput4" class="sr-only">Location</label>
                                {{ form.location(class="form-control",placeholder="Location") }}
                            </div>
                         
                        </div>
                        <div class="form-actions center">
                            <button type="submit" class="btn btn-outline-primary" style="color:white;background-color:#0F9B93">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--/ Statistics -->




<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title col-md-2" style="border-bottom: 5px solid #0F9B93;">Additional Settings</h4>
            </div>
            <div class="card-body">
                <form class="form" method="post">
                    <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                        
                        <div class="form-group">
                            <label for="donationinput3" class="form-label">What is your Specialty?</label>
                            {{ form.specialty(class="form-control",placeholder="Eg Divorce,Trauma ") }}
                        </div>

                        <div class="form-group">
                            <label for="donationinput4" class="form-label">Platforms</label>
                            {{ form.platform(class="form-control",placeholder="Preferred platforms eg.Zoom,In-Person?") }}
                        </div>
                        <div class="form-group">
                            <label for="donationinput4" class="form-label">"Biography"</label>
                            {{ form.biography(class="form-control",placeholder="Biography",style="height:50px") }}
                        </div>
                        <div class="form-group">
                            <label for="donationinput4" class="form-label">"Years of experience"</label>
                            {{ form.experience(class="form-control",placeholder="Experience") }}
                        </div>
                        <div class="form-group">
                            <label for="donationinput4" class="form-label">Price</label>
                            {{ form.baseprice(class="form-control",placeholder="Price per session(hour)") }}
                        </div>
                    </div>
                    <div class="form-actions center">
                        <button type="submit" class="btn btn-outline-primary" style="color:white;background-color:#0F9B93">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
