{% extends "agentportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Dashboard</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="card text-left" style="background-image: url('/static/images/lightbulb.png');background-size: 100%;height: 200px;">

				<div class=" card-body" > 
                    <div class="col-sm-6">
					<h5 class="card-title" style="font-size:1.7rem;color:white">Welcome {{user.name}}</h5>
		<div class="row col-lg-5">
            <a class="btn btn-primary col-lg-12" style="background:white;margin-bottom:20px;color:#4CAF50;" href="{{url_for('core.farmers')}}" >Go to farmers</a>
            <a class="btn btn-primary col-lg-12"   href="{{url_for('core.farmers')}}" style="background:white;margin-bottom:20px;color:#4CAF50;">Go to requests</a>

        </div>
</div>
                  
                </div>
				
			

           
        </div>
		</div>

		</div>
	</div>

</section>
<!--/ eCommerce statistic -->

<!-- Statistics -->




<div class="row match-height">




    <div class="col-xl-6 col-lg-12">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title" id="heading-multiple-thumbnails" style="color:green;">Recently Added Farmers</h4>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
               
            </div>
            <div class="card-content">
                <div class="card-body">
                    <ul class="list-group ">
                        {% for farmer in farmers %}
                        <li class="list-group-item col-md-12">
                            <a href="{{url_for('core.farmer',id=farmer.id)}}" class="col-md-2" style="float:left;">{{farmer.first_name}}</a>
                            <span class="col-md-2" style="float:left"> {{farmer.last_name}}</span>
                        <span class="col-md-3" style="float:left">	{{farmer.number}} </span>
                        <span class="col-md-3" style="float:left">	{{farmer.location}} </span>
                        </li>


             
                        {% endfor %}
                        
                    </ul>
                                       
<a class="btn btn-primary" href="{{url_for('core.farmers')}}" style="color:white">All Farmers</a>
                </div>
            </div>
        </div>
</div>
    <div class="col-xl-6 col-lg-12">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4CAF50">
                    <h4 class="card-title" id="heading-multiple-thumbnails" style="color:white;">Recent Requests/Claims</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                   
                </div>
                <div class="card-content" style="background-color:#4CAF50">
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for item in ecomrequests%}
                                <li class="list-group-item col-md-12">
                                    <a class="col-md-3" style="float:left" href="{{url_for('core.farmer',id=item.id)}}"> {{item.farmers.first_name}}</a >

                                    <span class="col-md-2" style="float:left;">{{item.farmers.last_name}} </span>
                                <span class="col-md-3" style="float:left">	{{item.number}} </span>
                                   <span class="col-md-3" style="float:left"> {{item.end_date}}</span>
                                </li>
                                {% endfor %}
                                
                            </ul>
                            <a class="btn btn-primary" href="{{url_for('core.farmers')}}" style="color:white">All Requests</a>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
            
        </div>
    </div>
</div>
<!--/ Statistics -->
        </div>
      </div>
    </div>

<!--Confirm Modal-->
 




    <div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="rescheduleModalLabel">Reschedule Appointment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
