{% extends "agentportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-1 mb-1">
			<h4 class="text-uppercase">Dashboard</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="card text-left" style="background-image: url('/static/images/lightbulb.png');background-size: 100%;height: 200px;">

				<div class=" card-body" > 
                    <div class="col-sm-6">
					<h5 class="card-title" style="font-size:1.7rem;color:white">Welcome {{user.name}}</h5>
		<div class="row col-lg-9">
            <a class="btn btn-primary col-lg-12" style="background:white;margin-bottom:20px;color:#4CAF50;" href="{{url_for('core.siprequests')}}" >Go to results</a>

        </div>
</div>
                  
                </div>
				
			

           
        </div>
		</div>

		</div>
	</div>

</section>
<!--/ eCommerce statistic -->

<!-- Statistics -->




<div class="row match-height">




    <div class="col-xl-6 col-lg-12">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title" id="heading-multiple-thumbnails" style="color:green;">Recently Added Subjects</h4>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
               
            </div>
            <div class="card-content">
                <div class="card-body">
                    <ul class="list-group ">
                        {% for subject in subjects[:10] %}
                        <li class="list-group-item col-md-12">
                            <a href="" class="col-md-12" style="float:left;">{{subject.name}}</a>
                        </li>


             
                        {% endfor %}
                        
                    </ul>
                                       
                </div>
            </div>
        </div>
</div>
    <div class="col-xl-6 col-lg-12">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4CAF50">
                    <h4 class="card-title" id="heading-multiple-thumbnails" style="color:white;">Recently Added Results</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                   
                </div>
                <div class="card-content" style="background-color:#4CAF50">
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for item in studentresults[:8]%}
                                <li class="list-group-item col-md-12">
                                    <a class="col-md-4" style="float:left" href=""> {{item.student.index_number}}</a >

                                    <span class="col-md-4" style="float:left;">{{item.subject.name}} </span>
                                    <span class="col-md-4" style="float:left;">{{item.result}}% </span>

                                </li>
                                {% endfor %}
                                
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
            
        </div>
    </div>
</div>
<!--/ Statistics -->
        </div>
      </div>
    </div>

<!--Confirm Modal-->
 




  
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
