{% extends "agentportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Packages</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-lg-12">
			<div class="card text-left" style="background-image: url('/static/images/lightbulb.png');background-size: 100%;">
<div  class="card-header">
    <form  method="post" >
        <div class="row col-lg-12">
        
         <!---- <div class="col-lg-4">
          
           <div class="form-outline">
             <input id="search-input" type="search" id="form1" class="form-control" />
           </div>
           <button id="search-button" type="button" class="btn btn-primary">
             <i class="fa fa-search"></i>
           </button>

         </div>-->

         <div class="col-md-3">
           <label for="donationinput1 "> From:</label>

           <div class="dropdown">
    
               <select class="form-control btn btn-secondary dropdown-toggle" id="location" name="location" required>
                   <option value=""><span>Choose Location<i class="fa fa-arrow" aria-hidden="true"></i> </span></option>
               {% for destination in destinations %}
               <option  value="{{destination.id}}"><span>{{destination.city}}</i> </span></option>
               {% endfor %}
               </select>
           </div>
           
           </div>

           

           <div class="col-md-3">
               <label for="donationinput1 "> To:</label>

               <div class="dropdown">
        
                   <select class="form-control btn btn-secondary dropdown-toggle" id="location" name="destination" required>
                       <option value=""><span>Choose Destination<i class="fa fa-arrow" aria-hidden="true"></i> </span></option>
                   {% for destination in destinations %}
                   <option value="{{destination.id}}"><span>{{destination.city}}</i> </span></option>
                   {% endfor %}
                   </select>
               </div>
               
               </div>


               <div class="row col-lg-3" style="margin-bottom:-20px;display:block">
                <label for="donationinput1 "> Date Range:</label>
                   <div class="form-group col-lg-12" >
                       {{filterform.start_date(class="form-control",placeholder="Date") }}
                   </div>
                   <div class="col-lg-12" style="margin-bottom:20px">
                       {{ filterform.end_date(class="form-control",placeholder="Date") }}
                   </div>
                   </div>
                   <div class="col-lg-2"  style="margin-bottom:20px;margin-top:20px; ">
                    <label for="donationinput1 "> Status:</label>
                    {{ filterform.status(value="Filter",class="form-control btn btn-secondary dropdown-toggle ") }}
                </div>
             
                <div class="col-lg-3"  style="margin-bottom:20px;margin-top:20px; ">
                    <label for="donationinput1 "> Sender Email:</label>
                    {{ filterform.sender(class="form-control btn btn-secondary dropdown-toggle ") }}
                </div>
                <div class="col-lg-3"  style="margin-bottom:20px;margin-top:20px; ">
                    <label for="donationinput1 "> Traveler Email:</label>
                    {{ filterform.traveller(class="form-control btn btn-secondary dropdown-toggle ") }}
                </div>
                   <div class="col-lg-2"  style="margin-bottom:20px;margin-top:50px; ">
                       {{ filterform.submit(value="Filter",class="btn btn-primary ",style="color: white;background-color:#0F9B93;border-color:#FFF9B9;") }}
                   </div>
      
       </div>
   </form>
</div>
                <div class="card-body" style="background-color: cadetblue;">
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Items</th>
                                        <th>Destination</th>
                                        <th>Date Range</th>
                                        <th>Arrival Date</th>
                                        <th>Status</th>
                                        <th>Sender</th>
                                        <th>Traveler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for package in packages %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><a href="{{url_for('therapistportal.update_package',package_id=package.id)}}">{{package.item_description}}</a></td>
                                        <td>{{package.destination.name}}</td>
                                        <td>{{package.start_date.strftime("%m %b %Y")}} to {{package.end_date.strftime("%m %b %Y")}} </td>
                                        <td>
                                            {% if package.arrival_date%}
                                            {{package.arrival_date.strftime("%m %b %Y")}}
                                            {% else %}
                                            Unknown arrival
                                            {%endif%}
                                        </td>
                                        <td>{{package.delivery_status}}</td>
                                        <td>{{package.sender.username}}</td>
                                        <td>{{package.traveler.username}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
				
			

           
        </div>
        </div>
    </div>
	

</section>
<!--/ eCommerce statistic -->






    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    