{% extends "userportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Personal Information</h4>
		</div>
	</div>

	<div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title col-md-2" style="border-bottom: 5px solid #0F9B93;">Information</h4>
                </div>
                <div class="card-body">
                    <form class="form" >
                        {{ form.hidden_tag() }}

                        <div class="form-body" style="padding-left: 150px;padding-right: 150px;">
                            <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="donationinput1 " class="sr-only">First Name</label>
                                {{ form.name(class="form-control",placeholder="First Name") }}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="donationinput2" class="sr-only">Last Name</label>
                                {{ form.last_name(class="form-control",placeholder="Last Name") }}
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="donationinput3" class="sr-only">E-mail</label>
                                {{ form.email(class="form-control",placeholder="Email") }}
                            </div>

                            <div class="form-group">
                                <label for="donationinput4" class="sr-only">Contact Number</label>
                                {{ form.number(class="form-control",placeholder="Number") }}
                            </div>
                         
                        </div>
                        <div class="form-actions center">
                            <button type="submit" class="btn btn-outline-primary" style="color:white;background-color:#0F9B93">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--/ Statistics -->





        </div>
      </div>
    </div>
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
