{% extends "agentportal/base.html" %}
{% block content %}
<section id="card-headings">
	<div class="row">
		<div class="col-12 mt-1 mb-1">
			<h4 class="text-uppercase">Dashboard</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="card text-left" style="background-image: url('/static/images/lightbulb.png');background-size: 100%;height: 200px;">

				<div class=" card-body" > 
                    <div class="col-sm-6">
					<h5 class="card-title" style="font-size:1.7rem;color:white">Welcome </h5>
		<div class="row col-lg-9">
            <a class="btn btn-primary col-lg-12" style="background:white;margin-bottom:20px;color:#4CAF50;" href="{{url_for('core.siprequests')}}" >Go to results</a>

        </div>
</div>
                  
                </div>
				
			

           
        </div>
		</div>

		</div>
	</div>

</section>
<!--/ eCommerce statistic -->

<!-- Statistics -->




<div class="row match-height">




    <div class="col-xl-6 col-lg-12">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title" id="heading-multiple-thumbnails" style="color:green;">RInactive Clients</h4>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
               
            </div>
            <div class="card-content">
                <div class="card-body">
                    <ul class="list-group ">
                     
                        <li class="list-group-item col-md-12">
                            <a href="" class="col-md-12" style="float:left;">{{customer_data[0]['name']}}</a>
                        </li>
                        <li class="list-group-item col-md-12">
                            <a href="" class="col-md-12" style="float:left;">{{customer_data[0]['credit']}}</a>
                        </li>  <li class="list-group-item col-md-12">
                            <a href="" class="col-md-12" style="float:left;">{{customer_data[0]['debit_limit']}}</a>
                        </li>  <li class="list-group-item col-md-12">
                            <a href="" class="col-md-12" style="float:left;"></a>
                        </li>

             
                  
                        
                    </ul>
                            
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal">
                        Make Payment
                    </button>
                
                    <!-- Payment Modal -->
                    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="paymentModalLabel">Top Up</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/topup_customer" method="post">
                                        <div class="form-group">
                                            <label for="customer_id"></label>
                                            <input type="hidden" class="form-control" id="customer_id" name="customer_id" value="{{customer_data[0]['id']}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" name="description" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="number" class="form-control" id="amount" name="amount" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Make Payment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="col-xl-6 col-lg-12">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4CAF50">
                    <h4 class="card-title" id="heading-multiple-thumbnails" style="color:white;">Low Balances</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                   
                </div>
                <div class="card-content" style="background-color:#4CAF50">
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for item in extension_list%}
                                <li class="list-group-item col-md-12">
                                    <a class="col-md-4" style="float:left" href=""> {{item.username}}</a >

                                   

                                </li>
                                {% endfor %}
                                
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
            
        </div>
    </div>
</div>
<!--/ Statistics -->
        </div>
      </div>
    </div>

<!--Confirm Modal-->
 




  
    {% endblock %}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
