
{% extends "mainbase.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/contact.css') }}">

        </div>        <div class="group-div4">
          <div class="contact-us-div">CONTACT US</div>
        </div>
        <b class="no-name-is-a-teletherapy-platf"
          >No name is a teletherapy platfrom for people to easily access
          therapy,anywhere. Get in touch today and see how we can help you.</b
        >
        <div class="group-div5">
          <div class="group-div6">
            <div class="flickflickcom-div">
              ..............................com
            </div>
            <b class="email-us-b">Email US</b>
          </div>
          <div class="group-div7">
            <div class="div">+971-4-576-6770</div>
            <b class="email-us-b">Call US</b>
          </div>
          <div class="group-div8">
            <b class="follow-us-b">Follow US</b
            ><img
              class="social-media-logo"
              alt=""
              src="{{ url_for('static',filename='public/social-media-logo.svg') }}" 
            /><img
              class="social-media-logo1"
              alt=""
              src="{{ url_for('static',filename='public/social-media-logo1.svg') }}" 
            /><img
              class="social-media-logo2"
              alt=""
              src="{{ url_for('static',filename='public/social-media-logo2.svg') }}" 
            />
          </div>
        </div>
        <div class="group-div9">
          <div class="frame-div14">
            <img
              class="phbrain-fill-icon2"
              alt=""
              src="public/phbrainfill3.svg"
            /><b class="no-name-b2">NO NAME</b>
          </div>
          <img
            class="rectangle-icon1"
            alt=""
            src="public/rectangle-41.svg"
          /><img class="group-icon1" alt="" src="public/group-651.svg" />
          <div class="legal-div1">Legal</div>
          <div class="disclaimer-div1">Disclaimer</div>
          <div class="privacy-policy-div1">Privacy Policy</div>
          <div class="terms-of-service1">Terms Of Service</div>
          <div class="group-div10">
            <div class="quick-links-div1">Quick Links</div>
            <div class="for-corporates-div2">For Corporates</div>
            <div class="for-therapists-div1">For Therapists</div>
            <div class="contact-div4">Contact</div>
            <div class="about-us-div1">About Us</div>
          </div>
          <div class="copyright-all-rights-reserved1">
            CopyRight All Rights Reserved
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
