{% extends "usersidenavtest.html" %}
{% block content %}
<body>
  <div class="dashboard-div">
    <div class="rectangle-div"></div>
    <div class="rectangle-div1"></div>
    <div class="offset-3 ">
      <h1 style="color:#34ebc0; font-size:60px;padding-top:80px;">Welcome to No Name, {{ name }}</h1>
      </div>
    <div class="group-div">
      <div class="explore-div">Explore</div>
      <img class="line-icon" alt="" src="public/line-2.svg" />
    </div>

    {% if plan %}

    <h4 class="no-active-plans"> Active Plans</h4>
    <div class="iwwaoption-div"></div>
    <div class="group-div1">
      <div class="group-div2">
        <button class="frame-buton">
          <a  href="{{ url_for('pricings.plan', plan_id=plan.id)}}"><button class=' btn btn-primary btn-sm btn-icon'>{{plan.title}}</button> </a>
          </button
        >
      </div>
    </div>
    {% else%}
    <h4 class="no-active-plans">No Active Plans</h4>
    <div class="iwwaoption-div"></div>
    <div class="group-div1">
      <div class="group-div2">
        <button class="frame-btton">
          <a  href="{{ url_for('core.journal')}}"><button class=' btn btn-primary btn-sm btn-icon'>Buy Plan</button> </a>
          </button
        ><button class="frame-buttn1">
          <a  href="{{ url_for('core.therapysessions')}}"><button class=' btn btn-primary btn-sm btn-icon'>Prev Plan</button> </a>
        </button>
      </div>
    </div>
    {% endif %}
    {% if upcoming%}

    <button class="frame-button2">
      
      {% if upcoming %}
      {% for key in upcoming %}
      <li class="list-group-item">  <a  href="{{ url_for('core.viewtherapysession', id=key)}}"> {{upcoming[key]}}</a></li><br/>
    {% endfor %} 
  {% endif %}</button>
    <h4 class="no-active-therapy"> Active Therapy</h4>
    <div class="group-div3">
      <button class="frame-button3">
        <input class="get-started-input" type="text" />
      </button>
      {% else %}
      <button class="frame-button2">
        <img class="get-started-icon" alt="" src="public/get-started.svg" />
      </button>
      <h4 class="no-active-therapy">No Active Therapy</h4>
      <div class="group-div3">
        <button class="frame-button3">
          <input class="get-started-input" type="text" />
        </button>
        {% endif %}
      <div class="rectangle-div2"></div>
      <div class="something-on-your-mind-ask-qu">
        Something on your mind. ask questions, comment or share anonymously.
      </div>
      <div class="your-creative-release-capture">
        Your Creative Release-Capture Your thoughts, & let your emotions go
        free.
      </div>
      <div class="frame-div">
        <div class="go-to-discussion-forum">Go to Discussion Forum</div>
      </div>
      <div class="frame-div1">
        <div class="go-to-discussion-forum"><a href="{{ url_for('core.journal')}}">Go to Mood Journal</a></div>
      </div>
    </div>
    <div class="need-help-contact-us">
      <span>Need Help? </span><span class="contact-us-span">Contact us.</span>
    </div>
  
  </div>
  </body>
{%endblock%}