{% extends "mainbase.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/homepage.css') }}">

<div class="home-page-div">

      <div class="group-div">
        <img
          class="happiness-wellbeing-confidence-icon"
          alt=""
          src="{{ url_for('static',filename='public/happinesswellbeingconfidenceconceptcheerfulattractiveafricanamericanwomancurlyhaircutcrossarmschestselfassuredpowerfulposesmilingdeterminedwearyellowsweater-1@2x.png') }}"       />
        <div class="group-div1">
          <div class="frame-div3">
            <button class="frame-button1">
              <div class="get-started-div">Get Started</div>
            </button>
            <div class="anciety-and-stress">Login</div>
          </div>
          <b class="find-the-perfect-therapist-onl"
            ><span>Find the perfect </span
            ><span class="therapist-span">therapist</span
            ><span> online.</span></b
          >
          <div class="amet-minim-mollit-non-deserunt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </div>
        </div>
      </div>
      <div class="group-div2">
        <div class="frame-div4">
          <div class="frame-div5">
            <div class="anciety-and-stress">Anciety and stress</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Post Natal & Perinatal</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Couple Therapy</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Relationship issues</div>
          </div>
        </div>
        <div class="frame-div9">
          <div class="frame-div5">
            <div class="anciety-and-stress">Trauma</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Self Harm</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">LGBTIA+</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Suicide</div>
          </div>
        </div>
        <div class="frame-div14">
          <div class="frame-div5">
            <div class="anciety-and-stress">Depression</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Grief and loss</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Psychosis</div>
          </div>
          <div class="frame-div5">
            <div class="anciety-and-stress">Sexual Issues</div>
          </div>
        </div>
      </div>
      <div class="frame-div19">
        <b class="b">500+</b>
        <div class="success-stories-div">Success Stories</div>
      </div>
      <b class="get-help-online-from-licensed"
        ><span>Get help online from </span
        ><span class="therapist-span">licensed</span><span> experts</span></b
      ><b class="get-help-at-home"
        ><span>Get </span><span class="therapist-span">help</span
        ><span> at home</span></b
      >
      <div class="private-and-secure-platform">
        100% Private and Secure Platform
      </div>
      <div class="slice-div"></div>
      <div class="we-have-some-of-the-best-train">
        We have some of the best trained therapist to help you at any time. They
        are carefully vetted through a rigorous selection process.
      </div>
      <div class="group-div3">
        <div class="rectangle-div1"></div>
        <button class="frame-button3">
          <div class="get-started-div">Click Here</div>
        </button>
        <div class="need-more-details-see-how">
          Need More Details? See how ........ works
        </div>
      </div>
      <div class="group-div4">
        <div class="rectangle-div2"></div>
        <b class="how-it-works">How It works</b>
        <div class="frame-div20">
          <div class="group-div5">
            <div class="group-div6">
              <div class="book-a-counselling-plan">Book a counselling plan</div>
              <img class="group-icon" alt=""        src="{{ url_for('static',filename='public/group-5.svg') }}"       />
              />
            </div>
            <div class="group-div7">
              <div class="choose-a-therapist-of-your-cho">
                <p class="choose-a-therapist">Choose a therapist</p>
                <p class="of-your-choice">of your choice</p>
              </div>
              <img class="group-icon" alt="" src="{{ url_for('static',filename='public/group-6.svg') }}"   />
            </div>
          </div>
          <div class="group-div8">
            <div class="group-div9">
              <div class="join-session-or-chat">Join Session or Chat</div>
              <img class="group-icon" alt="" src="{{ url_for('static',filename='public/group-7.svg') }}"   />
            </div>
            <div class="group-div10">
              <div class="choose-a-therapist-of-your-cho">
                <p class="choose-a-therapist">Reschedule or Change</p>
                <p class="of-your-choice">Therapist If Needed</p>
              </div>
              <img class="group-icon" alt="" src="{{ url_for('static',filename='public/group-8.svg') }}"   />
            </div>
          </div>
        </div>
      </div>
      <b class="featured-therapists-b">Featured Therapists</b>
      <div class="card-content-div">
        <div class="paragraph-div">Subscribe to our newsletter</div>
        <i class="h3-i">Let us be your plug.</i>
        <div class="h3-div">
          Get our latest mental health tips and news weekly directly to your
          inbox.
        </div>
        <div class="input-group-div">
          <div class="form-control-input-style-1-div">
            <div class="your-email-div">Your Email</div>
          </div>
          <div class="btn-div">
            <div class="input-group-text-div">Subscribe</div>
          </div>
        </div>
      </div>
      <div class="group-div11">
        <div class="frame-div21">
          <img
            class="phbrain-fill-icon"
            alt=""
            src="{{ url_for('static',filename='public/phbrainfill1.svg') }}"  
          /><b class="no-name-b">NO NAME</b>
        </div>
   
        <div class="legal-div">Legal</div>
        <div class="disclaimer-div">Disclaimer</div>
        <div class="privacy-policy-div">Privacy Policy</div>
        <div class="terms-of-service">Terms Of Service</div>
        <div class="group-div12">
          <div class="quick-links-div">Quick Links</div>
          <div class="for-corporates-div">For Corporates</div>
          <div class="for-therapists-div">For Therapists</div>
          <div class="contact-div1">Contact</div>
          <div class="about-us-div">About Us</div>
        </div>
        <div class="copyright-all-rights-reserved">
          CopyRight All Rights Reserved
        </div>
      </div>

 

      <div class="group-div18">
        <b class="what-our-clients-say-about-us"
          >What Our Clients Say About Us</b
        >
        <div class="group-div19">
          <div class="rectangle-div6"></div>
          <div class="group-div20">
            <div class="when-i-held-my-baby-in-my-arms">
              “When i held my baby in my arms afrer 9 months of waiting and
              expecting, i didnt really feel flooded with love or attachment. To
              the contrary i felt overwhelmed and despondent. When i reached out
              to no name, i was full of guilt and shame for feeling this way.”
            </div>
          </div>
          <img class="image-3-icon" alt=""  src="{{ url_for('static',filename='public/image-3@2x.png') }}"  />
        </div>
        <img class="group-icon5" alt=""  src="{{ url_for('static',filename='public/group-48095542.svg') }}"   /><img
          class="group-icon6"
          alt=""
          src="{{ url_for('static',filename='public/group-48095543.svg') }}"  
        />
      </div>
      <div class="frame-div25">
        <div class="rectangle-div7"></div>
        <div class="rectangle-div8"></div>
        <div class="rectangle-div8"></div>
      </div>
      <img class="group-icon7" alt=""  src="{{ url_for('static',filename='public/group-48095546.svg') }}"   />
      <div class="group-div21">
        <b class="chat-session-b">Chat Session</b
        ><b class="audio-session-b">Audio Session</b
        ><b class="video-session-b">Video Session</b>
      </div>
    </div>
    <div class="container  px-4"  style=" 
    width: 1350px;
    height: 561px;
    font-size: 24px;
    top: 400px;
    color: #878787;" id="therapists">
            <div class="row gx-5">
          
                                      {% for therapist in therapists%}
                                      <div class="container"  style=" position: relative;
                                      width: 1350px;
                                      font-size: 24px;
                                      color: #878787;
                                      top: -100px;    
                                      " id="therapists">
                                    
                                            <div class="div" tyle="position: absolute;
                                            top: 0;
                                            background-color: rgba(76, 175, 80, 0.05);
                                            width: 1727px;
                                            height: 273px;">
                                            
                                            <!--<div class="rect" style="  width: 184px;
                                                  height: 184px;
                                                  position: absolute;
                                                  width: 184px;
                                                  height: 400px;
                                                  object-fit: cover;
                                                  object-fit: cover;position: absolute;" >-->
                                            
                                    
                                                              <div class="card" style=" position: absolute; line-height: 125%;
                                                                                                              display: inline-block;
                                                                                                              width: 438px;
                                                                                                              height: 501px;
                                                                                                              text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);">
                                                                                                              <img class="thumbnail"  src="{{ url_for('static',filename='public/ellipse-73@2x.png') }}" style=" position: absolute;
                                                                                                              width: 184px;
                                                                                                              height: 184px;
                                                                                                              object-fit: cover;"/> 
                                                                                    <div style=" position: absolute;
                                                                                    top: 267px;
                                                                                    left: 61px;
                                                                                    line-height: 125%;
                                                                                    display: inline-block;
                                                                                    width: 338px;
                                                                                    height: 271px;
                                                                                    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);">
                                                                                                                  <p class="choose-" style="margin-block-start:0;
                                                                                                                margin-block-end: 0;">
                                                                                                                  <b style="  font-family: Poppins;
                                                                                                                  ">{{therapist.title}}</b><br>
                                                                                    
                                                                                                                  <b class="span">Specialization</b>
                                                                                                                </p>
                                                                                                                <p class="of-your-choice" style="margin:0;
                                                                                                                ">
                                                                                                                  <span
                                                                                                                    >Anxiety, Depression, Stress, Relationship Issues, Couple
                                                                                                                    Counseling , Grief & Loss, Suicidal Ideation, Sleep Issues,
                                                                                                                    Trauma, Narcissistic Abuse, Family Therapy, Body Image,
                                                                                                                    Psycho-Somatic Disorders, LGBTQI</span
                                                                                                                  >
                                                                                                                </p>
                                                                                                              </div>
                                                                                    
                                                                                                        <div style=" position: relative;
                                                                                                        height: 63px;padding-top:
                                                                                                        470px; padding-left:120px;">
                                                                                                            <a href="{{ url_for('core.viewtherapist',id=therapist.id) }}">  <button class="button" style=" position: absolute;
                                                                                                              height: 63px;
                                                                                                              border-radius: 15px;
                                                                                                              background-color: #0f9b93;
                                                                                                              display: flex;
                                                                                                              flex-direction: row;
                                                                                                              padding: 14px 42px;
                                                                                                              box-sizing: border-box;
                                                                                                              align-items: center;
                                                                                                              justify-content: center;">
                                                                                                            
                                                                                                                  <div class=""   position: relative;
                                                                                                                  font-size: 14px;
                                                                                                                  line-height: 120%;
                                                                                                                  font-family: Poppins;
                                                                                                                  color: #fff;
                                                                                                                  text-align: center;
                                                                                                                  display: inline-block;>Book Now</div>
                                                                                                                </button
                                                                                                              ></a>
                                                                                                        </div>

                                    </div> </div>
                            
                            {% endfor %}
 



{% endblock %}