{% extends "mainnav.html" %}
{% block content %}
   
        
       
          <div class="container" style="margin-top: 100px;margin-bottom: 200px;">

      
            <div class="row justify-content-center">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  
                  <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0" style="margin-top: 250px;">
        
                      <h2 class="mb-5">Sign Up <br> </h2>
        
                      <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm" enctype="multipart/form-data" >
                          {{form.hidden_tag()}}
                        
                          <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.channels.label()}}{{form.channels(class="form-control")}}
                            </div>
                          </div> <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.inbound.label()}}{{form.inbound(class="form-control")}}
                            </div>
                          </div> <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.outbound.label()}}{{form.outbound(class="form-control")}}
                            </div>
                          </div> 
                           <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.provider.label}}{{form.provider(class="form-control")}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.codecs.label}}{{form.codecs(class="form-control")}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 form-group">
                              {{form.certificate.label}}{{form.certificate(class="form-control")}}
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 form-group">
                                {{form.other.label()}}{{form.other(class="form-control")}}
                              </div>
                            </div> 
          
                          <div class="row">
                            <div class="col-md-12">
                              {{form.submit(class="btn btn-primary rounded-0 py-2 px-4",style="margin-left: 40%;")}}
                              <span class="submitting"></span>
                            </div>
                          </div>
                        </form>
        
                      <div id="form-message-warning mt-4"></div> 
                      <div id="form-message-success">
                     
                      </div>
        
                    </div>
                    <div class="col-lg-4 ml-auto" style="margin-top: 25%;">
                      <h3 class="mb-4"> Registered?</h3>
  
                      <p><a class="btn btn-primary rounded-0 py-2 px-4 " style="margin-left: 15%;"  href="{{ url_for('users.login') }}">Sign In</a></p>
                    </div>
                  </div>
                </div>  
                </div>
              </div>
            </div>
        </div>


        <!--Use the below code snippet to provide real time updates to the live chat plugin without the need of copying and paste each time to your website when changes are made via PBX-->
<call-us-selector phonesystem-url="https://springboardpbx.3cx.sc" party="LiveChat868619"></call-us-selector>
 
<!--Incase you don't want real time updates to the live chat plugin when options are changed, use the below code snippet. Please note that each time you change the settings you will need to copy and paste the snippet code to your website--> 
<!--<call-us 
phonesystem-url="https://springboardpbx.3cx.sc" 
style="position:fixed;font-size:16px;line-height:17px;z-index: 99999;right: 20px; bottom: 20px;" 
id="wp-live-chat-by-3CX" 
minimized="true" 
animation-style="fadein" 
party="LiveChat868619" 
minimized-style="bubbleright" 
allow-call="true" 
allow-video="false" 
allow-soundnotifications="true" 
enable-mute="true" 
enable-onmobile="true" 
offline-enabled="true" 
enable="true" 
ignore-queueownership="false" 
authentication="both" 
operator-name="Support" 
show-operator-actual-name="true" 
aknowledge-received="true" 
gdpr-enabled="false" 
message-userinfo-format="name" 
message-dateformat="both" 
lang="browser" 
button-icon-type="default" 
greeting-visibility="none" 
greeting-offline-visibility="none" 
chat-delay="2000" 
enable-direct-call="true" 
enable-ga="false" 
></call-us>--> 
<script defer src="https://downloads-global.3cx.com/downloads/livechatandtalk/v1/callus.js" id="tcx-callus-js" charset="utf-8"></script>
      
{% endblock %}