{% extends "mainbase.html" %}
{% block content %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/log-in.css') }}">

  <body>
    <div class="log-in-div">

      <div class="log-in-div1">Log In</div>
      <div class="line-div2"></div>
      <div class="dont-have-an-account-sign-up">
        <span>Dont have an account?</span
        ><span class="sign-up-span"> Sign Up</span>
      </div>
      <a class="frame-a" href=".//"><div class="log-in-div2">Log In</div></a>
      <div class="group-div8">
       
      </div>
      <div class="frame-div5"></div>
      <div class="group-div10">
        <div class="incorrect-password-div">Incorrect Password</div>
        <div class="forgot-password-div">Forgot Password?</div>
        <div class="group-div11">
          <div class="line-div3"></div>
          <div class="group-div12">
            <div class="information-div1">Information</div>
          </div>
          <div class="rectangle-div2" >
            <form method="POST">
              {{form.hidden_tag()}}
              {{form.email.label}}{{form.email}}<br>
              {{form.password.label}}
              {{form.password(class="form-control form-control-lg ")}}<br>
              {{form.submit()}}
            </form>
          </div>
        </div>
        
          </div>
          <div class="field-caption-div5">
            <img class="icon24" alt="" src="public/icon.svg" />
            <div class="label-div18">Info</div>
          </div>
        </div>
       
          <div class="field-div7">
            <div class="field-master-div6">
              <img class="icon22" alt="" src="public/icon5.svg" /><img
                class="icon22"
                alt=""
                src="public/icon23.svg"
              />
            </div>
          </div>
          <div class="field-caption-div5">
            <img class="icon24" alt="" src="public/icon.svg" />
            <div class="label-div18">Info</div>
          </div>
        </div>
      </div>
    </div>
{%endblock%}