{% extends "mainbase.html" %}
{% block content %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css2/plan-review.css') }}">

  <body>
    <div class="plan-review-div">
      <b class="find-a-plan-thats-right-for-yo1"
        ><span>Find A </span
        ><span class="plan-thats-right1">Plan Thats Right</span
        ><span> For You</span></b
      >
      <div class="line-div1"></div>
      <div class="cancel-anytime-change-your-th1">
        Cancel anytime. Change your therapist anytime..
      </div>
      <div class="sessions-do-not-expire-and-hav1">
        Sessions do not expire and have lifetime validity. Once bought you can
        schedule it at your convenience. You can contact us via email if you
        couldn’t find the plan you are looking for and we will help you out.
      </div>
      <div class="frame-div27">
        <div class="frame-div28">
          <img
            class="phbrain-fill-icon8"
            alt=""
            src="public/phbrainfill8.svg"
          /><b class="no-name-b8">NO NAME</b>
        </div>
        <div class="frame-div29">
          <div class="home-div4">Home</div>
          <div class="no-name-b8">About</div>
          <div class="no-name-b8">Services</div>
          <div class="no-name-b8">Our Therapists</div>
          <div class="no-name-b8">FAQs</div>
          <div class="no-name-b8">Contact</div>
        </div>
        <div class="frame-div30">
          <div class="login-div4">Login</div>
          <div class="frame-div31">
            <div class="login-div4">Get Started</div>
          </div>
        </div>
      </div>
      <div class="group-div18">
        <div class="frame-div32">
          <img
            class="phbrain-fill-icon8"
            alt=""
            src="public/phbrainfill9.svg"
          /><b class="no-name-b8">NO NAME</b>
        </div>
        <img class="rectangle-icon4" alt="" src="public/rectangle-42.svg" /><img
          class="group-icon6"
          alt=""
          src="public/group-652.svg"
        />
        <div class="legal-div4">Legal</div>
        <div class="disclaimer-div4">Disclaimer</div>
        <div class="privacy-policy-div4">Privacy Policy</div>
        <div class="terms-of-service4">Terms Of Service</div>
        <div class="group-div19">
          <div class="quick-links-div4">Quick Links</div>
          <div class="for-corporates-div5">For Corporates</div>
          <div class="for-therapists-div4">For Therapists</div>
          <div class="contact-div10">Contact</div>
          <div class="about-us-div4">About Us</div>
        </div>
        <div class="copyright-all-rights-reserved4">
          CopyRight All Rights Reserved
        </div>
      </div>
      <div class="group-div20">
        <div class="rectangle-div1"></div>
        <div class="plan-summary-div">Plan Summary</div>
        <img class="evaclose-fill-icon" alt="" src="public/evaclosefill.svg" />
        <div class="group-div21">
          <div class="jill-adams-div">Jill Adams</div>
          <div class="jilladamsgmailcom-div">jilladams@gmail.com</div>
          <div class="div1">+233 0000 000</div>
          <div class="mind-your-mind">Mind Your Mind</div>
          <div class="ghs-600-div">GHS 600</div>
          <div class="mobile-money-div">Mobile Money</div>
          <div class="name-div">Name</div>
          <div class="email-div">Email</div>
          <div class="phone-div">Phone</div>
          <div class="plan-name-div">
            <p class="plan">Plan</p>
            <p class="name-p">Name</p>
          </div>
          <div class="total-div">Total</div>
          <div class="pay-with-div">
            <p class="plan">Pay</p>
            <p class="name-p">with</p>
          </div>
        </div>
        <div class="button-div"><div class="click-here-div1">Back</div></div>
        <div class="button-div1"><div class="click-here-div1">Pay</div></div>
      </div>
    </div>
  </body>
</html>

{%endblock %}