{% extends "usersidenav.html" %}
{% block content %}
    {# Features #}
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl offset-2" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{{ url_for('core.editui')}}">UI Editor</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Admin</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          
          </div>
          
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  

<div class="offset-2">
                    <h5 class="font-weight-bolder"> UPCOMING THERAPY SESSIONS</h5>
                    <div class="card-body p-3 offset-1">
                      <ul class="list-group">
                        {% for key in upcomingsessions %}
                        <li class="list-group-item">  <a  href="{{ url_for('core.viewtherapysession', id=key)}}"> {{upcomingsessions[key]}}</a></li>
                                {% endfor %}
                      </ul>
                            </div>
                            </div>


                            <div class="offset-2">
                              <h5 class="font-weight-bolder"> PREVIOUS THERAPY SESSIONS</h5>
                              <div class="card-body p-3 offset-1">
                                <ul class="list-group">
                                  {% for key in previoussessions %}
                                  <li class="list-group-item">  <a  href="{{ url_for('core.viewtherapysession', id=key)}}"> {{previoussessions[key]}}</a></li>
                                          {% endfor %}
                                </ul>
                                      </div>
                                      </div>

<br>
<br>
<br>
         
        </div>
        <div class="foote p3">

        <div class="col-md-3 offset-5">
          Need help? <a href="">Contact Us.</a>
        </div>
        <br>
        <br>


       
        </div>





       
            </div>
          </div>
        </div>
 
      </div>
    </div>
<br >






   </div> 
    
      
     

    
{% endblock %}
