<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./profile.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="profile-div4">
      <div class="field-caption-div">
        <img class="icon" alt="" src="public/icon.svg" />
        <div class="text-div">Info</div>
      </div>
      <div class="field-caption-div1">
        <img class="icon" alt="" src="public/icon.svg" />
        <div class="text-div">Info</div>
      </div>
      <div class="group-div18">
        <div class="frame-div">
          <div class="personal-information-div">Personal Information</div>
        </div>
        <div class="group-div19">
          <div class="line-div"></div>
          <div class="information-div">Information</div>
          <div class="rectangle-div3"></div>
        </div>
        <div class="group-div20">
          <div class="line-div1"></div>
          <div class="information-div">Preferences</div>
          <div class="rectangle-div4"></div>
        </div>
        <div class="group-div21">
          <div class="group-div22">
            <div class="field-label-base">
              <div class="label-div">
                <div class="text-div">
                  What is your preferred medium for the session?
                </div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <div class="label-div2">Optional</div>
            </div>
            <div class="field-label-base1">
              <div class="label-div">
                <div class="text-div">What are you seeking help for?</div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <div class="label-div2">Optional</div>
            </div>
            <div class="field-label-base2">
              <div class="label-div">
                <div class="text-div">
                  Do you a gender preference for your therapist?
                </div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <div class="label-div2">Optional</div>
            </div>
            <div class="field-div">
              <div class="field-master-div">
                <img class="icon5" alt="" src="public/icon5.svg" /><img
                  class="icon5"
                  alt=""
                  src="public/icon6.svg"
                />
              </div>
            </div>
            <div class="field-div1">
              <div class="field-master-div">
                <img class="icon5" alt="" src="public/icon5.svg" /><img
                  class="icon5"
                  alt=""
                  src="public/icon6.svg"
                />
              </div>
            </div>
            <div class="field-div2">
              <div class="field-master-div">
                <img class="icon5" alt="" src="public/icon5.svg" /><img
                  class="icon5"
                  alt=""
                  src="public/icon6.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="group-div23">
          <div class="inputdefault-div">
            <div class="field-label-base3">
              <div class="label-div">
                <div class="text-div">
                  <span>Phone Number</span><span class="span"> </span
                  ><span class="span1">*</span>
                </div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <input class="label-input" type="text" />
            </div>
            <div class="field-div3">
              <div class="field-master-div">
                <img class="icon5" alt="" src="public/icon5.svg" /><img
                  class="icon5"
                  alt=""
                  src="public/icon6.svg"
                />
              </div>
            </div>
            <div class="field-caption-div2">
              <img class="icon" alt="" src="public/icon.svg" />
              <div class="text-div">Info</div>
            </div>
          </div>
          <div class="inputdefault-div1">
            <div class="field-label-base3">
              <div class="label-div">
                <div class="text-div">
                  <span>Email</span><span class="span"> </span
                  ><span class="span1">*</span>
                </div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <div class="label-div13">Optional</div>
            </div>
            <div class="field-div3">
              <div class="field-master-div">
                <img class="icon5" alt="" src="public/icon5.svg" /><img
                  class="icon5"
                  alt=""
                  src="public/icon6.svg"
                />
              </div>
            </div>
            <div class="field-caption-div2">
              <img class="icon" alt="" src="public/icon.svg" />
              <div class="text-div">Info</div>
            </div>
          </div>
          <div class="inputdefault-div2">
            <div class="field-label-base3">
              <div class="label-div">
                <div class="text-div">
                  <span>First Name</span><span class="span"> </span
                  ><span class="span1">*</span>
                </div>
                <img class="icon2" alt="" src="public/icon2.svg" />
              </div>
              <div class="label-div13">Optional</div>
            </div>
            <div class="field-div3">
              <input class="field-master-input" type="text" />
            </div>
            <div class="field-caption-div2">
              <img class="icon" alt="" src="public/icon.svg" />
              <div class="text-div">Info</div>
            </div>
          </div>
          <input class="inputdefault" type="text" />
        </div>
        <button class="frame-button9" autofocus>
          <div class="save-div1">Save</div></button
        ><button class="frame-button10" autofocus>
          <div class="save-div1">Save</div>
        </button>
      </div>
      <div class="group-div24">
        <img class="container-icon4" alt="" src="public/container4.svg" /><img
          class="phbrain-fill-icon4"
          alt=""
          src="public/phbrainfill4.svg"
        />
        <div class="group-div25">
          <div class="contact-us-div4">Contact Us</div>
          <div class="log-out-div4">Log Out</div>
          <div class="dashboard-div5">Dashboard</div>
          <div class="profile-div5">Profile</div>
          <div class="my-journal-div6">My Journal</div>
          <div class="disussion-forum-div4">Disussion Forum</div>
        </div>
      </div>
    </div>
  </body>
</html>
